
<form (ngSubmit)="onSubmit()" #form="ngForm">
    <legend>
        Signup
    </legend>
    <fieldset>
        <ul>
            <li>
                <label for="txtFirstName">
                    select Certification
                </label>
                <input
                    type="text"
                    name="txtFirstName"
                    id="txtFirstName"
                    [(ngModel)] = 'student.firstName'
                >
        </ul>
        <input type="submit" value="Continue">
    </fieldset>
</form>
