h1 {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a1629;
}

a {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  padding: 13px 27px;
  border-radius: 14px;
  box-shadow: 0 6px 12px 0 rgba(63, 140, 255, 0.26);
  background-color: #3f8cff;
}
