<div>
    <loading
        *ngIf = "isLoading"
    ></loading>

    <div
        *ngIf = "!isLoading && !isTokenExpired"
    >
        <h1>
            Your email has been verified  
        </h1>
        <p>
            <!-- <span>allen.perkins@seattleu.edu</span> -->
            Your account has been verified.
            Now you can sign in to Flastio
        </p>
        <a
            routerLink = '/auth/login'
        >
            Sign in
        </a>
    </div>
    <div
        *ngIf = "!isLoading && isTokenExpired && !isConfrimEmailResend"
    >
        <form
            #form = "ngForm"
        >
            <legend>
                Your Email Confirmation Link has been Expired! We Will send You another Email.
            </legend>
            <fieldset
                [disabled] = "isLoading"
            >
                <ul>
                    <li>
                        <label
                            for = "cmpEmail"
                        >
                            Email Address
                        </label>
                        <university-email-input
                            id = "cmpEmail"
                            name = "cmpEmail"
                            (onSetEmail) = 'setEmail($event)'
                        ></university-email-input>
                    </li>
                </ul>
                <button
                    [disabled]="!resendEmailAddress"
                    class = "student-signup-submit"
                    (click) = "resendConfirmationEmail()"
                >
                    Send
                </button>
                <loading
                    *ngIf = 'isLoading'
                ></loading>
            </fieldset>
        </form>

    </div>

    <div
        *ngIf="isConfrimEmailResend"
    >
        <h1>
            New Confirmation Email, Sent to Your Email.
        </h1>
        <p>
            Check Your Inbox! befor It Expire again.
        </p>
    </div>
</div>