<div class="resume-body">
    <section class="header isUploaded">
        <h3 >
            Resume
        </h3>
        <loading
            *ngIf="isLoading"
        ></loading>
    </section>
    <form
        *ngIf="!fileUrl"
    >
        <fieldset
            [disabled]="isLoading"
        >
            <label
                for="resumeFile"
            >
                Upload your Resume
            </label>
            <input
                type="file"
                id = 'resumeFile'
                name = 'resumeFile'
                value = "resumeFile"
                (change) = "handleFileInput($event.target.files)"
            >
        </fieldset>
    </form>
    <div
        class="delete-section"
        *ngIf="fileUrl"
    >
        <a
            [href]="fileUrl"
            target="_blank"
        >
            View resume
        </a>
        <button
            (click)="remove()"
        >
            Delete
        </button>
    </div>
</div>