<div class="resume-body">
    <section class="header"
        [ngClass]="{'isUploaded':resume}"
    >
        <h3>
            Resume
        </h3>
        <loading
            *ngIf="isLoading"
        ></loading>
    </section>
    <form
        *ngIf="!resume"
    >
        <fieldset
            [disabled]="isLoading"
        >
            <label
                for="resumeFile"
            >
                Upload your Resume
            </label>
            <input
                type="file"
                id = 'resumeFile'
                name = 'resumeFile'
                value = "resumeFile"
                (change) = "handleFileInput($event.target.files)"
            >
        </fieldset>
    </form>
    <div
        class="delete-section"
        *ngIf="resume"
    >
        <a
            (click)="view()"
        >
            View resume
        </a>
        <button
            (click)="showConfrimDelete()"
        >
            Delete
        </button>
    </div>
    <confirm-delete
        *ngIf = "isConfirmDeleteVisible"
        (onCancel) = "hideConfrimDelete()"
        (onConfirm) = "confirmedDelete()"
    ></confirm-delete>
    <file-viwer
        *ngIf="isViewFileVisible"
        (onClose) = 'hideShowFileModal()'
        [fileUrl]="resume.fileUrl"
        [fileExtention]="resume.fileExtention"
    ></file-viwer>
    <span
        class="isCopyed"
        *ngIf="isSent"            
    >
        Great, we'll email you expert suggestions to improve your resume within 24 hours
    </span>
</div>

    <button
        class="resume-panel-request-feedback"
        *ngIf="resume && resume.fileUrl && !resume.isRequestedFeedback"
        (click) = 'requestFeedback()'
    >
        Request feedback from Flastio
    </button>
