<div
  *ngIf = "!selectedCourse"
>
  <form>
    <fieldset>
      <ul>
        <li>
          <input
            type="search"
            name="txtCourseKeyWord"
            id="txtCourseKeyWord"
            [(ngModel)]="courseKeyWord"
            (ngModelChange)="onKeyup($event)"
            maxlength="200"
            minlength="3"
            placeholder="Enter course title"
          />
        </li>
      </ul>
    </fieldset>

  </form>
  <loading
        *ngIf="isLoading"
    ></loading>
  <div class="search-course-result">
    <button
      *ngIf = 'isAddable()'
      (click)="addCrurse()"
    >
      add {{ courseKeyWord }} to {{ major.name }}
    </button>
    <ul *ngIf="courseList && courseList.length > 0">
      <li *ngFor="let course of courseList" (click)="selected(course)">
        {{ course.name }}
      </li>
    </ul>
  </div>
</div>
<div  class="search-course-result-section"
  *ngIf = "selectedCourse"
>
  <span>{{selectedCourse.name}}

    <button
    (click)="remove()"
  >
    Remove
  </button>
  </span>

</div>

