<div
  *ngIf = "!selectedCourse"
>
  <form>
    <fieldset>
      <ul>
        <li>
          <label for="txtCourseKeyWord"> Type To Search in Course: </label>
          <input
            type="text"
            name="txtCourseKeyWord"
            id="txtCourseKeyWord"
            [(ngModel)]="courseKeyWord"
            (keyup)="onKeyup($event)"
          />
        </li>
      </ul>
    </fieldset>
    <button (click)="addCrurse()">
      add {{ courseKeyWord }} to {{ major.name }}
    </button>
  </form>
  <loading
        *ngIf="isLoading"
    ></loading>
  <ul *ngIf="courseList && courseList.length > 0">
    <li *ngFor="let course of courseList" (click)="selected(course)">
      {{ course.name }}
    </li>
  </ul>
</div>
<div
  *ngIf = "selectedCourse"
>
  {{selectedCourse.name}}
  <button
    (click)="remove()"
  >
    Remove
  </button>
</div>

