fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  label {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0a1629;
    display: block;
    margin-left: 12px;
  }
  input {
    border-radius: 14px;
    box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
    border: solid 1px #d8e0f0;
    background-color: #fff;
    padding: 13px 0 14px 0;
    display: block;
    width: 100%;
    margin: 0 0 27px 0;
    &::placeholder {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #7d8592;
    }
  }
}
button:first-of-type {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #3f8cff;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.search-course-result {
  position: relative;
  button {
    z-index: 9;
    position: relative;
    top: 0;
    margin-bottom: 11px;
  }
  ul {
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(139, 149, 170, 0.2);
    background-color: #fff;
    padding: 15px;
    position: relative;
    z-index: 7;
    width: 100%;
    top: -15px;
    max-height: 250px;
    overflow: scroll;
  }
  li {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0a1629;
    padding: 8px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      border-radius: 14px;
      background-color: rgba(63, 140, 255, 0.12);
      transition: 0.5s;
    }
  }
}
.search-course-result-section {
  border-radius: 14px;
  box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
  border: solid 1px #d8e0f0;
  display: inline-flex;
  width: 100%;
  span {
    margin: 2px 5px;
    border-radius: 8px;
    background-color: rgba(63, 140, 255, 0.1);
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #3f8cff;
    padding: 7px;
    display: inline-flex;
    align-items: center;
    button {
      border: none;
      background: none;
      content: "";
      background-image:url(/assets/images/icn-general-add-dark-blue.svg);
      background-position: center;
      background-repeat: no-repeat;
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden;
      font: status-bar;
      display: inline-flex;
      margin-left: 11px;
      padding: 0;
      transform: rotate(45deg);
      width: 20px;
      height: 20px;
    }
  }
}
