input {
    border-radius: 14px;
    box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
    border: solid 1px #d8e0f0;
    background-color: #fff;
    padding: 15px 11px;
    display: inline-block;
    width: 100%;
    margin-bottom: 28px;
  
    &::placeholder {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: #7d8592;
      margin-left: 18px;
    }
  }
  