
  <form
    #form="ngForm"
  >
    <legend>
      Login
    </legend>
    <fieldset
      [disabled]="isLoading"
    >
      <ul>
        <li>
          <label for="txtEmail"> Email Address </label>
          <input
            type="email"
            name="txtEmail"
            id="txtEmail"
            placeholder="Enter your .edu email address"
            [(ngModel)]="email"
            maxlength="200"
            minlength="3"
          />
        </li>
        <li>
          <label for="txtPassword"> Password: </label>
          <input
            type="password"
            name="txtPassword"
            id="txtPassword"
            [(ngModel)]="password"
            placeholder="Enter your password"
            maxlength="200"
            minlength="3"
          />
        </li>
      </ul>
      <validation-result
        *ngIf="validationResult"
        [validationResult]="validationResult"
      ></validation-result>
      <button class="student-signup-submit "
        (click)="signup()"
      >Login</button>
      <p>
        Go to 
        <a href="/auth/signup">
          Signup
        </a>
      </p>
      <p>
        By signing up, I agree to the Flastio <span>Privacy Policy</span> and
        <span>Terms of Service.</span>
      </p>
    </fieldset>
  </form>
