  <form
    #form = "ngForm"
  >
    <legend>
      Login
    </legend>
    <fieldset
      [disabled] = "isLoading"
    >
      <ul>
        <li>
          <label
            for = "cmpEmail"
          >
            Email Address
          </label>
          <university-email-input
            id = "cmpEmail"
            name = "cmpEmail"
            (onSetEmail) = 'setEmail($event)'
          ></university-email-input>
        </li>
        <li>
          <label
            for = "cmpPassword"
          >
            Password
          </label>
          <password-input
            id = "cmpPassword"
            name = "cmpPassword"
            (onSetPassword)="setPassword($event)"
          ></password-input>

        </li>
      </ul>
      <validation-result
        *ngIf = "validationResult"
        [validationResult] = "validationResult"
      ></validation-result>
      <button
        class = "student-signup-submit"
        (click) = "login()"
      >
        Login
      </button>
      <loading
        *ngIf = 'isLoading'
      ></loading>
      <p>
        Go to 
        <a
          routerLink = '/auth/signup'
        >
          Signup
        </a>
      </p>
      <p>
        By signing up, I agree to the Flastio
      <a
        href = "https://www.flastio.com/privacy"
        target = "_blank"
      >
        Privacy Policy
      </a>
      and
      <a
        href = "https://www.flastio.com/terms"
        target = "_blank"
      >
        Terms of Service
      </a>
      .
      </p>
    </fieldset>
  </form>
