<dl>
  <dt>Name</dt>
  <dd class="project-name">
    {{ project.name }}
  </dd>

  <dt>Year Completed</dt>
  <dd class="project-year-completed"
    *ngIf="project.yearCompleted"
  >
    {{ project.yearCompleted }}
  </dd>

  <dt
    *ngIf="project.course"
  >Course</dt>
  <dd class="project-course"
    *ngIf="project.course"
  >
    . {{ project.course.name }}
  </dd>

  <dt
    *ngIf="project.company"
  >Company</dt>
  <dd class="project-course"
    *ngIf="project.company"
  >
    . {{ project.company.name }}
  </dd>

  <dt>Action Panel</dt>
  <dd class="project-action-panel">
    <project-action-panel
      (onEdit) = "edit()"
      (onDelete) = "delete()"
      (onChangeIndex) = "changeIndex($event)"
    > </project-action-panel>
  </dd>
  <dt
  >
    isPublished
  </dt>
  <dd class="project-status"
    *ngIf="!project.isPublished"
  >
    Draft
  </dd>
  <dd class="project-status"
    *ngIf="project.isPublished"
  >
    Published
  </dd>

  <dt>Description</dt>
  <dd class="project-description"
    *ngIf="project.description"
  >
    {{ project.description }}
  </dd>

  <dt *ngIf="project.skillList && project.skillList.length > 0">
    Skills
  </dt>
  <dd *ngIf="project.skillList && project.skillList.length > 0">
    <skill-list
      [skillList]="project.skillList"
    ></skill-list>
  </dd>

  <dt
    *ngIf = "project.summeryFileUrl"
  >
    File Priveiw
  </dt>
  <dd
    class="project-image"
    *ngIf="project.summeryFileUrl"
  >
    <img src="assets/images/project-sample.jpg" alt="images" />
    <!-- <embed
      src = 'http://www.africau.edu/images/default/sample.pdf'
      type="application/pdf"
    > -->

    <!-- <iframe
      [src]='safeResourceUrl'
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen

    ></iframe> -->
    <!-- <button>View Project Summary</button> -->
    <a 
      [href] = "project.summeryFileUrl"
      target = "_blank"
    >
      View Project Summary
    </a>
  </dd>

  
  <dt *ngIf="project.supportingFileList && project.supportingFileList.length > 0">
    Project supporting files
  </dt>
  <dd *ngIf="project.supportingFileList && project.supportingFileList.length > 0">
    <supporting-file-panel
      [supportingFileList]="project.supportingFileList"
    ></supporting-file-panel>
  </dd>
  <dt *ngIf="project.linkUrlList && project.linkUrlList.length > 0">
    Project supporting links
  </dt>
  <dd *ngIf="project.linkUrlList && project.linkUrlList.length > 0">
    <link-url-list
      [linkUrlList]="project.linkUrlList"
      (onViewed) = 'viewLinkUrl($event)'
    ></link-url-list>
  </dd>

  <dt *ngIf="project.assignedCertification">
    Certification
  </dt>
  <dd *ngIf="project.assignedCertification">
    <certification-list-item
      [assignedCertification] = 'project.assignedCertification'
    ></certification-list-item>
  </dd>  

  <dt *ngIf="project.contributorList && project.contributorList.length > 0">
    Contributors
  </dt>
  <dd *ngIf="project.contributorList && project.contributorList.length > 0">
    <contributor-list [contributorList]="project.contributorList"></contributor-list>
  </dd>
</dl>
