<dl>
  <dt>Name</dt>
  <dd>
    {{ project.name }}
  </dd>

  <dt>Year Completed</dt>
  <dd>
    {{ project.yearCompleted }}
  </dd>

  <dt>Course</dt>
  <dd>
    {{ project.course.name }}
  </dd>

  <dt>Action Panel</dt>
  <dd>
    <project-action-panel
      (onEdit) = "edit()"
      (onDelete) = "delete()"
      (onChangeIndex) = "changeIndex($event)"
    > </project-action-panel>
  </dd>
  <dt>Publish Status</dt>
  <dd>
    {{ project.isPublished }}
  </dd>

  <dt>Description</dt>
  <dd>
    {{ project.description }}
  </dd>

  <dt *ngIf="project.skillList && project.skillList.length > 0">Skills</dt>
  <dd *ngIf="project.skillList && project.skillList.length > 0">
    <skill-list [skillList]="project.skillList"></skill-list>
  </dd>

  <dt
    *ngIf="project.summeryFileUrl"
  >File Priveiw</dt>
  <dd
    class="project-image"
    *ngIf="project.summeryFileUrl"
  >
    <img src="assets/images/project-sample.jpg" alt="images" />
    <!-- <button>View Project Summary</button> -->
    <a 
      [href] = "project.summeryFileUrl"
      target = "_blank"
    >
      View Project Summary
    </a>
  </dd>

  
  <dt *ngIf="project.supportingFileList && project.supportingFileList.length > 0">
    Project supporting files
  </dt>
  <dd *ngIf="project.supportingFileList && project.supportingFileList.length > 0">
    <supporting-file-panel
      [supportingFileList]="project.supportingFileList"
    ></supporting-file-panel>
  </dd>
  <dt *ngIf="project.linkUrlList && project.linkUrlList.length > 0">
    Project supporting links
  </dt>
  <dd *ngIf="project.linkUrlList && project.linkUrlList.length > 0">
    <link-url-list [linkUrlList]="project.linkUrlList"></link-url-list>
  </dd>

  <dt *ngIf="project.contributorList && project.contributorList.length > 0">
    Contributors
  </dt>
  <dd *ngIf="project.contributorList && project.contributorList.length > 0">
    <contributor-list [contributorList]="project.contributorList"></contributor-list>
  </dd>
</dl>
