dt {
  display: none;
}
dt:last-of-type {
  display: block;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #0a1629;
  margin-bottom: 5px;
  margin-top: 5px;
}
dl {
  position: relative;
  dd {
    margin: 0;
    padding: 0;
    &:nth-child(2) {
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.44;
      letter-spacing: normal;
      color: #0a1629;
      margin: 24px 0 8px 0;
    }
    &:nth-child(4),
    &:nth-child(6) {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.31;
      letter-spacing: normal;
      color: #91929e;
      display: inline;
      margin: 0;
      padding: 0;
    }
    &:nth-child(10) {
      font-size: 12px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      display: inline;
      float: right;
      padding: 4px 4px 4px 5px;
      border-radius: 4px;
      border: solid 1px #7d8592;
      color: #7d8592;
      margin-right: 15px;
      position: absolute;
      right: 10px;
      top: 0;
  
    }
    &:nth-child(8) {
      display: inline-flex;
      float: right;
      position: absolute;
      right: 0;
      top: 0;
    }
    &:nth-child(12) {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #0a1629;
      margin-top: 24px;
      margin-bottom: 16px;
    }

    img, iframe {
      width: 100%;
      height: 357px;
      border-radius: 4px;
    }
  }
}
.project-image {
  position: relative;
  margin-top: 24px !important;
  &::before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: rgba(10, 22, 41, 0.61);
    width: 100%;
    height: 357px;
    border-radius: 4px;
  }
  a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    &::before {
      content: "";
      background: url(/assets/images/eye-white.svg);
      margin-bottom: 24px;
      width: 40px;
      height: 35px;
      display: block;
      background-repeat: no-repeat;
    }
  }
}
