<ul>
    <li>
        <button
            (click)="showAnalytics()"
        >
            Analytics
        </button>
    </li>

    <li>
        <a
            routerLink="/student/upgrade"
            (click)="close()"
        >
            Upgrade Plan
        </a>
    </li>

    <li>
        <a
            routerLink = "/student/editDetail"
            (click)="close()"
        >
            Personal Information
        </a>
    </li>

    <li>
        <button
            (click)="logout()"
        >
            Sign Out
        </button>
        
    </li>
</ul>
<analytics-working-modal
    *ngIf = 'isAnalyticsWorkingModalVisible'
    (onCancel) = "hideAnalyticsWorkingModal()"
></analytics-working-modal>

<analytics-upgrade-require
    *ngIf = "isUpgradeRequireModalVisible"
    (onCancel) = 'hideUpgradeRequireModal()'
></analytics-upgrade-require>