<ul>
    <li>
        <button>
            Analytics
        </button>
    </li>

    <li>
        <a
            routerLink="/student/upgrade"
            (click)="close()"
        >
            Upgrade Plan
        </a>
    </li>

    <li>
        <a
            routerLink = "/student/editDetail"
            (click)="close()"
        >
            Personal Information
        </a>
    </li>

    <li>
        <button
            (click)="logout()"
        >
            Sign Out
        </button>
        
    </li>
</ul>