<form
    (ngSubmit)="onSubmit()"
    #form="ngForm"
>
    <legend>
        Add Course
    </legend>
    <fieldset>
        <ul>
            <li>
                <label for="txtCourseName">
                 Course Name
                </label>
                <input
                    type="text"
                    name="txtCourseName"
                    id="txtCourseName"
                    [(ngModel)] = 'course.name'
                >
            </li>
        </ul>
        <input type="submit" value="Save">
    </fieldset>
</form>
