<loading
    *ngIf = 'isLoading'
></loading>

<b
    *ngIf = "!isLoading && (!assignedCertificationList || assignedCertificationList.length == 0)"
>
    No Certification Yet. Add New Certification fist!
</b>

<select
    *ngIf="!isLoading && assignedCertificationList && assignedCertificationList.length > 0"
    name = "slctAssignedCertification"
    id = "slctAssignedCertification"
    [(ngModel)] = "selectedAssignedCertificationId"
    (ngModelChange) = "changeAssingedCertification()"
>
    <option
        *ngFor = "let assignedCertification of assignedCertificationList"
        [value] = "assignedCertification._id"
    >
        {{assignedCertification.certification.name}}
    </option>
    
</select>

