ul {
  list-style: none;
  padding: 0;
  margin: 0 0 32px 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
  li {
    position: relative;
    padding: 16px;
    transition: 0.5s all;
    &:hover {
      border-radius: 8px;
      background-color: #f4f9fd;
      transition: 0.5s all;
    }
  }
}
