<div
  *ngIf="!selectedCertification"
>
  <form>
    <!-- <legend>Search Certification</legend> -->
    <fieldset>
      <ul>
        <li>
          <label for="txtCertificationKeyWord">
            Type To Search in Certifications:
          </label>
          <input
            type="text"
            name="txtCertificationKeyWord"
            id="txtCertificationKeyWord"
            [(ngModel)]="certificationKeyWord"
            (keyup)="onKeyup($event)"
            placeholder="e.g., Six Sigma Yellow Belt"
            maxlength="200"
            minlength="3"
          />
        </li>
      </ul>
    </fieldset>
  </form>
  <loading
        *ngIf="isLoading"
    ></loading>
    <div class="search-certification-result">
      <button
        *ngIf = 'isAddable()'
        (click)="addCertification()"
      >
        Add {{ certificationKeyWord }}
      </button>
      <ul *ngIf="certificationList && certificationList.length > 0">
        <li
          *ngFor="let certification of certificationList"
          (click)="selected(certification)"
        >
          {{ certification.name }}
        </li>
      </ul>
    </div>
</div>
<div class="search-certification-result-section"
  *ngIf="selectedCertification"
>
  {{selectedCertification.name}}
  <button
    (click)="remove()"
  >
    Remove
  </button>
</div>

