fieldset {
  border: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  label {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0a1629;
    display: block;
    margin-left: 12px;
  }
  input {
    border-radius: 14px;
    box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
    border: solid 1px #d8e0f0;
    background-color: #fff;
    padding: 13px 18px 14px 18px;
    display: block;
    width: 100%;
    margin: 7px 0 27px 0;
    &::placeholder {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #0a1629;
    }
  }
}
button {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #3f8cff;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  &::before{
    content: "";
    background: url(/assets/images/icn-general-add-dark-blue.svg);
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 8px;
  }
}
