
<form>
    <legend>
        Search Certification
    </legend>
    <fieldset>
        <ul>
            <li>
                <label for="txtCertificationKeyWord">
                    Type To Search in Certifications:
                </label>
                <input
                    type="text"
                    name="txtCertificationKeyWord"
                    id="txtCertificationKeyWord"
                    [(ngModel)] = 'certificationKeyWord'
                    (keyup) = "onKeyup($event)"
                >
            </li>
        </ul>
    </fieldset>
    <button
        (click) = "addCertification()"
    >

        Add {{certificationKeyWord}}
    </button>
    <ul
        *ngIf="certificationList && certificationList.length > 0"
    >
        <li
            *ngFor = 'let certification of certificationList'
            (click) = 'selected(certification)'
        >
            {{certification.name}}
        </li>
    </ul>
</form>
