<div class="main-modal">
    <div
        class="popup"
    >

    <div>
        <ul>
            <li>
                <label
                    for = "rdExistingCertification"
                >
                    From existing certifications
                </label>
                <input
                    type = "radio"
                    id = 'rdExistingCertification'
                    name = "actionType"
                    value = "Existing"
                    (change) = "changed('Existing')"
                >
            </li>
            <li>
                <label
                    for="rdNewCertification"
                >
                    From existing certifications
                </label>
                <input
                    type = "radio"
                    id = "rdNewCertification" 
                    name = "actionType"
                    value = "New"
                    (change) = "changed('New')"
                >
            </li>
        </ul>
        
    </div>

    <section>
        <select-assigned-certification
            *ngIf = "actionType == 'Existing'"
        >
        </select-assigned-certification>

        <assign-certifiction
            *ngIf = "actionType == 'New'"
        ></assign-certifiction>
        
    </section>
    
    </div>
    
</div>