<div class="main-modal">
    <div
        class="popup modal-body"
    >
    <button
        class = "close-btn"
        (click) = "close()"
    >
        Close
    </button>
        <legend>Add Certification</legend>
        <p>Make sure to use the exact certification title on your actual certificate. You can upload a picture or a PDF version of your certificate issued by the institution you got certified through.</p>
        <div
            *ngIf = "!assignedCertification"
        >
            <ul>
                <li>
                    <input
                        type = "radio"
                        id = 'rdExistingCertification'
                        name = "actionType"
                        value = "Existing"
                        (change) = "changed('Existing')"
                        [checked]= "actionType == 'Existing'"
                    >
                    <label
                    for = "rdExistingCertification"
                    >
                        From existing certifications
                    </label>
                </li>
                <li>
                    <input
                        type = "radio"
                        id = "rdNewCertification" 
                        name = "actionType"
                        value = "New"
                        (change) = "changed('New')"
                        [checked]= "actionType == 'New'"
                    >
                    <label
                    for="rdNewCertification"
                    >
                         Add new certification
                    </label>
                </li>
            </ul>

            <section
                class="select-assigned-certification"
                *ngIf = "actionType == 'Existing'"
            >
                <label
                    for = "slctAssignedCertification"
                >
                    Select from existing certifications
                </label>
                <select-assigned-certification
                    (onAssignedCertificationSelected) = 'setAssignedCertification($event)'
                >
                </select-assigned-certification>
            </section>

            <add-assinged-certification
                *ngIf = "actionType == 'New'"
                (onAssignedCertificationAdded) = 'setAssignedCertificationAndSave($event)'
                (onClose) = 'close()'
            ></add-assinged-certification>
                
            
        </div>
        
        <div
            *ngIf = "assignedCertification"
            class = "assignedCertification-list"
        >
            <section>
                <certification-list-item
                    [assignedCertification] = 'assignedCertification'
                    [isActionable] = 'false'
                ></certification-list-item>
                <button
                    type = "button"
                    (click)="remove()"
                    class="remove-btn"
                >
                    Remove
                </button>
            </section>
            

            <div class="btn-section">
                <button class="submit-btn"
                  (click)="save()"
                >
                    Add
                </button>
                <button class="cancel-btn"
                  (click)="cancel()"
                >
                  Cancel
                </button>
            </div>
        </div>
    
    </div>
    
</div>