.main-modal {
  overflow-y: scroll;
}
.modal-body {
  position: relative;
  z-index: 5;
  width: 50%;
  margin: 32px auto;
  padding: 32px 32px 40px 32px;
  border-radius: 8px;
  box-shadow: 0 6px 58px 0 rgb(121 145 173 / 20%);
  background-color: #fff;
  legend {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0a1629;
    margin: 10px auto 39px auto;
    display: block;
  }

  p {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0a1629;
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
    margin: 32px 0 0 0;
    padding: 0 0 10px 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e6ebf5;
    label {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #7d8592;
      cursor: pointer;
      padding: 0 25px 10px 25px;
    }
    input[type="radio"] {
      display: none;
    }
    input[type="radio"]:checked + label {
      color: #3f8cff;
      border-bottom: 3px solid #3f8cff;
      border-radius: 1.5px;
    }
  }
}
.select-assigned-certification {
  margin-top: 32px;
  label {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0a1629;
    display: block;
    margin-left: 10px;
  }
}
.close-btn {
  background-color: #f4f9fd;
  border-radius: 50%;
  border: none;
  -webkit-writing-mode: vertical-rl;
  display: flex;
  padding: 11px 6px;
  content: "";
  background-image: url(/assets/images/move-up.svg);
  background-position: center;
  background-repeat: no-repeat;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  font: status-bar;
  position: absolute;
  top: 37px;
  left: 15px;
  border: none;
  transform: rotate(-90deg);
  box-shadow: none;
  margin-top: 0;
  width: 40px;
}
.assignedCertification-list {
  position: relative;
}

.remove-btn {
  content: "";
  border-left: solid 1px #e6ebf5;
  transition: 0.5s;
  background: url(/assets/images/delete.svg);
  width: 42px;
  height: 28px;
  transition: 0.5s;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
  border: solid 1px #d8e0f0;
  background-color: #fff;
  padding: 20px;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    border: solid 1px #91929e;
    transition: 0.5s;
  }
}
.submit-btn {
  padding: 14px 29px;
  border-radius: 14px;
  box-shadow: 0 6px 12px 0 rgba(63, 140, 255, 0.26);
  background-color: #3f8cff;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  border: none;
  transition: 0.5s;
  margin-left: 16px;

  &:hover {
    background-color: #3a81eb;
    transition: 0.5s;
  }
}
.certification-list-item-section {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.cancel-btn {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #91929e;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
  border: solid 1px #d8e0f0;
  background-color: #fff;
  padding: 11px 15px;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    border: solid 1px #91929e;
    transition: 0.5s;
  }
}
.btn-section {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  border-top: 1px solid #e6ebf5;
  margin-top: 90px;
  padding-top: 32px;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .modal-body {
      legend {
        display: block !important;
        margin: 27px auto 39px auto !important;
      }
    }
  }
}
