<section>
    <form>
        <fieldset>
            <ul>
                <li class="share-profile-by-email-input">
                    <label
                        for="txtRecipients"
                    >
                        Recipients
                    </label>
                    <university-email-input
                        [email] = 'currentEmail'
                        (onSetEmail) = 'setEamil($event)'

                    ></university-email-input>


                    <button class="add-recipients-btn"
                        (click) = 'addEmailToList()'
                    >
                        Add
                    </button>
                </li>
                <li
                    *ngIf = 'emailList && emailList.length > 0'
                >
                    <ol>
                        <li
                            *ngFor = 'let email of emailList'
                        >
                            <span>
                                {{email}}
                            </span>
                            <button>
                                Remove
                            </button>
                        </li>
                    </ol>
                </li>
                <li>
                    <label
                        for="txtMessage"
                    >
                        Include a personalized message
                    </label>
                    <textarea
                        id = 'txtMessage'
                        name = 'txtMessage'
                        placeholder = "Hi, Please check my portfolio"
                        rows="5"
                    ></textarea>
                </li>
            </ul>
            <button class="submit-btn">
                Send
            </button>
            
            <button class="cancel-btn">
                Cancel
            </button>
           
        </fieldset>
    </form>
</section>