<section>
    <form>
        <fieldset>
            <ul>
                <li>
                    <label
                        for="txtRecipients"
                    >
                        Recipients
                    </label>
                    <input
                        id = 'txtRecipients'
                        name = 'txtRecipients'
                        type = "email"
                        placeholder = "Enter recipient email"
                    >
                    <button class="add-recipients-btn">
                        Add
                    </button>
                </li>
                <li>
                    <ol>
                        <li>
                            <span>
                                john@stanford.edu
                            </span>
                            <button>
                                Remove
                            </button>
                        </li>
                        <li>
                            <span>
                                john@stanford.edu
                            </span>
                            <button>
                                Remove
                            </button>
                        </li>
                    </ol>
                </li>
                <li>
                    <label
                        for="txtMessage"
                    >
                        Include a personalized message
                    </label>
                    <textarea
                        id = 'txtMessage'
                        name = 'txtMessage'
                        placeholder = "Hi, Please check my portfolio"
                        rows="5"
                    ></textarea>
                </li>
            </ul>
            <button class="submit-btn">
                Send
            </button>
            
            <button class="cancel-btn">
                Cancel
            </button>
           
        </fieldset>
    </form>
</section>