section {
  position: relative;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 6px 58px 0 rgba(121, 145, 173, 0.2);
  background-color: #fff;
  width: 40%;
  margin: 30px auto;

  h4 {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0a1629;
  }
  p {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #0a1629;
    padding: 0;
    margin: 48px 0 56px 0;
  }

  .close-btn {
    background-color: #f4f9fd;
    border-radius: 14px;
    padding: 6px;
    border: none;
    content: "";
    background-image:url(/assets/images/left-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    font: status-bar;
    -webkit-writing-mode: vertical-rl;
    display: flex;
    position: absolute;
    top: 59px;
    left: 22px;
  }
  .confirm-btn {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    border-radius: 14px;
    box-shadow: 0 6px 12px 0 rgba(63, 140, 255, 0.26);
    background-color: #3f8cff;
    display: block;
    width: 100%;
    margin-bottom: 24px;
    border: none;
    padding: 13px 0;

    transition: 0.5s;

    &:hover {
      background-color: #3a81eb;
      transition: 0.5s;
    }
  }
  .cancel-btn {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #91929e;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
    border: solid 1px #d8e0f0;
    background-color: #fff;
    display: block;
    width: 100%;
    padding: 10px 0;
    transition: 0.5s;

    &:hover {
      border: solid 1px #91929e;
      transition: 0.5s;
    }
  }
}
