form {
    margin: 0;
    padding: 0;
    background-color: #fff;
  
    legend {
      display: none;
    }
    fieldset {
      border: none;
      padding: 0;
      margin: 0;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      label {
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #0a1629;
        display: block;
        margin-bottom: 10px;
        margin-left: 8px;
      }
      input {
        border-radius: 14px;
        box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
        border: solid 1px #d8e0f0;
        background-color: #fff;
        padding: 15px 11px;
        display: block;
        width: 100%;
        margin-bottom: 28px;
  
        &::placeholder {
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.71;
          letter-spacing: normal;
          color: #7d8592;
          margin-left: 18px;
        }
      }
    }

    p {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: #91929e;
      padding: 0;
      margin: 32px 0 0 0;
      span {
        color: #3f8cff;
      }
    }
  }
  
  .search-major-result {
    position: relative;
    button {
      z-index: 9;
      position: relative;
      top: 0;
    }
    ul {
      border-radius: 8px;
      box-shadow: 0 5px 20px 0 rgba(139, 149, 170, 0.2);
      background-color: #fff;
      padding: 15px;
      max-height: 200px;
      z-index: 7;
      width: 100%;
      list-style: none;
      overflow-y: scroll;
    }
    li {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #0a1629;
      padding: 8px;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        border-radius: 14px;
        background-color: rgba(63, 140, 255, 0.12);
        transition: 0.5s;
      }
    }
  
    button {
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #3f8cff;
      background-color: #fff;
      border: none;
      display: flex;
      align-items: center;
      margin-bottom: 7px;
      &::before {
        content: "";
        background: url(/assets/images/icn-general-add-dark-blue.svg);
        width: 12px;
        height: 12px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 8px;
      }
    }
  }
  
  .search-major-result-section {
    border-radius: 14px;
    box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
    border: solid 1px #d8e0f0;
    display: inline-flex;
    width: 100%;
    span {
      margin: 2px 5px;
      border-radius: 8px;
      background-color: rgba(63, 140, 255, 0.1);
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: center;
      color: #3f8cff;
      padding: 7px;
      display: inline-flex;
      align-items: center;
      button {
        border: none;
        background: none;
        content: url(/assets/images/icn-general-add-dark-blue.svg);
        display: inline-flex;
        margin-left: 8px;
        transform: rotate(45deg);
      }
    }
  }
  