<div class="main-modal">
    <section
        class="popup"
    >
    <button
        class="close-btn"
        type="button"
        (click)="close()"
    >
        close
    </button>
    
    <a
        [href]="fileUrl"
        target="_blank"
        download
    >
        download
    </a>
    <loading
        *ngIf="isLoading"
    ></loading>
    <img
        *ngIf="isImage"
        [src] = 'fileUrl'
        (load) = 'hideLoading()'
    />
    <iframe
        *ngIf="isPdf"
        [src] = 'summeryFileIFrameUrl'
        (load) = 'hideLoading()'
    ></iframe>
    </section>
    
</div>

