<div class="main-modal">
    <section class="popup">
      <h4>
        Your analytics dashboard is on its way!
      </h4>
      <p>
        For us to show you meaningful analytics, you will need to first share your portfolio with employers and recruiters so we have enough data points. Start sharing your portfolio on your resume and through other channels, and we will notify you when we have enough data to show you statistically significant insights.
      </p>
      <button
        class = "confirm-btn"
        (click) = "cancel()"
      >
        Ok
      </button>
    </section>
  </div>
  