<label for="">
    {{workStyle.question}}
</label>
<section>
        <input
        [name]="workStyle._id"
        type="radio"
        value="1"
    >
    <input
        [name]="workStyle._id"
        type="radio"
        value="2"
    >
    <input
        [name]="workStyle._id"
        type="radio"
        value="3"
    >
    <input
        [name]="workStyle._id"
        type="radio"
        value="4"
    >
    <input
        [name]="workStyle._id"
        type="radio"
        value="5"
    >
    <input
        [name]="workStyle._id"
        type="radio"
        value="6"
    >
    <input
        [name]="workStyle._id"
        type="radio"
        value="7"
    >
</section>