<div>
    <button
        class="close-btn"
        (click) = 'close()'
    >
        Close
    </button>
    <h3>
        Share Profile
    </h3>
    <ul>
        <li>
            <button
               (click) = 'changeView("shareLink")' 
            >
                Share Link
            </button>
        </li>
        <li>
            <button
                (click) = 'changeView("qrCode")'
            >
                QR Code
            </button>
        </li>
        <li>
            <button
                (click) = 'changeView("sendEmail")' 
            >
                Send Email
            </button>
        </li>
    </ul>
    <section
        *ngIf = 'currentView == "shareLink"'
    >
        <ul>
            <li>
                <label
                    for="profileLink"
                >
                    Profile’s Link
                </label>
                <input
                    id = 'profileLink'
                    name = 'profileLink'
                    type="url"
                    value="www.google.com"
                >
            </li>
            <button>
                Copy
            </button>
        </ul>
    </section>

    <section
    *ngIf = 'currentView == "qrCode"'
    >
        <img src="/assets/images/QR-Code.png" alt="QRCode">
       <div>
            <h4>
                Scan QR Code
            </h4>
            <p>
                Download and place the QR code on your resume. It helps the hiring manager easily pull up your portfolio when using a paper copy of your resume.
            </p>
            <button>Download</button>
       </div>
    </section>

    <section
        *ngIf = 'currentView == "sendEmail"'
    >
        <form>
            <fieldset>
                <ul>
                    <li>
                        <label
                            for="txtRecipients"
                        >
                            Recipients
                        </label>
                        <input
                            id = 'txtRecipients'
                            name = 'txtRecipients'
                            type = "email"
                            placeholder = "Enter recipient email"
                        >
                        <button class="add-recipients-btn">
                            Add
                        </button>
                    </li>
                    <li>
                        <ol>
                            <li>
                                <span>
                                    john@stanford.edu
                                </span>
                                <button>
                                    Remove
                                </button>
                            </li>
                            <li>
                                <span>
                                    john@stanford.edu
                                </span>
                                <button>
                                    Remove
                                </button>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <label
                            for="txtMessage"
                        >
                            Include a personalized message
                        </label>
                        <textarea
                            id = 'txtMessage'
                            name = 'txtMessage'
                            placeholder = "Hi, Please check my portfolio"
                            rows="5"
                        ></textarea>
                    </li>
                </ul>
                <button class="submit-btn">
                    Send
                </button>
                
                <button class="cancel-btn">
                    Cancel
                </button>
               
            </fieldset>
        </form>
    </section>
</div>