<form>
    <button
        class="close-btn"
        (click)="close()"
    >
        Close
    </button>
  
    <legend>
        Add Contributors
    </legend>

    <p>
        You may want to give your contributors a heads up since they will receive an email from Flastio about you giving them credit for this project.
    </p>
  
    <fieldset>
        <ul>
            <li>
                <label
                    for = "txtStudentRole"
                >
                    Your contribution
                    <span>*</span>
                </label>
                <input
                    type = "text"
                    name = "txtStudentRole"
                    id = "txtStudentRole"
                    [(ngModel)] = 'localStudentRole'
                    (ngModelChange) = "studentRoleChanged()"
                    placeholder = "Enter your contribution"
                    minlength = "3"
                    maxlength = "200"
                    required
                >
            </li>
        </ul>
        <select-or-add-contributor
            (onContributorAdded) = "addContributorToList($event)"
        ></select-or-add-contributor>
    </fieldset>
    

    <contributor-list
        *ngIf = "localContributorList && localContributorList.length > 0"
        [isRemovable] = 'true'
        [contributorList] = "localContributorList"
        (onDeleted) = 'remove($event)'
    ></contributor-list>

    <div>
        <validation-result
            [validationResult] = 'validationResult'
        ></validation-result>

        <button
            (click) = "cancel()"
        >
            Cancel
        </button>
        <button
            (click) = "save()"
        >
            Save
        </button>
    </div>

    <confirm-discard
        *ngIf="confirmDicardIsVisible"
        (onConfirm) = 'close()'
        (onCancel) = 'hideConfirmDiscardModal()'
    ></confirm-discard>
  </form>
