<form>
    <button class="close-btn" (click)="close()">Close</button>
  
    <legend>
        Add Contributors
    </legend>
  
    <fieldset>
      <p>
        You can add as many contributors as you need to. The contributors will be notified upon submitting your project. It will enable them to consider uploading the project to their portfolio as well.
      </p>
  
      <ul>
        <li>
            <label
                for="txtName"
            >
                Contributor name
            </label>
            <input
                type="text"
                name="txtName"
                id="txtName"
                [(ngModel)] = 'contributor.name'
                placeholder = "Enter name of contributor"
                minlength="3"
                maxlength="200"
            >
        </li>

        <li>
            <label
                for="txtEmail"
            >
                Email
            </label>
            <university-email-input
                (onSetEmail) = 'setEamil($event)'
            ></university-email-input>
        </li>

        <li>
            <label
                for="txtRole"
            >
                Role
            </label>
            <input
                type="text"
                name="txtRole"
                id="txtRole"
                [(ngModel)] = 'contributor.role'
                placeholder = "e.g., Original draft preparation"
                minlength="3"
                maxlength="200"
            >
        </li>

        <button
            (click)="add()"
        >
            Add Contributor
        </button>

      </ul>
    </fieldset>

    <contributor-list
        *ngIf = "contributorList && contributorList.length > 0"
        [contributorList] = "contributorList"
        (onDeleted) = 'remove($event)'
    ></contributor-list>

  <div>
    <button (click)="cancel()">Cancel</button>
    <button (click)="save()">Save</button>
  </div>
  </form>
