<form>
    <button
        class="close-btn"
        (click)="close()"
    >
        Close
    </button>
  
    <legend>
        Add Contributors
    </legend>
  
    <fieldset>
        <ul>
            <li>
                <label
                    for="txtStudentRole"
                >
                    Your contribution
                </label>
                <input
                    type="text"
                    name="txtStudentRole"
                    id="txtStudentRole"
                    [(ngModel)] = 'localStudentRole'
                    (ngModelChange)="studentRoleChanged()"
                    placeholder = "Enter your contribution"
                    minlength="3"
                    maxlength="200"
                >
            </li>
        </ul>
      <p>
        You can add as many contributors as you need to. The contributors will be notified upon submitting your project. It will enable them to consider uploading the project to their portfolio as well.
      </p>
  
      <ul>
        <li>
            <label
                for="txtEmail"
                *ngIf="!isInviteFormVisible"
            >
                Contributor Email
            </label>
            <search-student
                *ngIf="!isInviteFormVisible"
                [selectedStudent] = 'contributor.student'
                (onStudentSelected) = 'setStudent($event)'
                (onInviteStudentWithEmailSelected)="showInviteStudentForm($event)"
            ></search-student>
        </li>

        <li>
            <label
                for="cmpName"
                *ngIf="isInviteFormVisible"
            >
                Contributor Name
            </label>
            <invite-student
                id="cmpName"
                name="cmpName"
                *ngIf="isInviteFormVisible"
                [email] = 'inviteeEmail'
                (onClose) = 'hideInviterStudnetForm()'
                (onInvited) = 'setStudent($event)'
            ></invite-student>
        </li>

        <li>
            <label
                for="txtRole"
            >
            Specific contribution
            </label>
            <input
                type="text"
                name="txtRole"
                id="txtRole"
                [(ngModel)] = 'contributor.role'
                placeholder = "e.g., Original draft preparation"
                minlength="3"
                maxlength="200"
            >
        </li>

        <validation-result
            [validationResult] = 'contributorValidationResult'
        ></validation-result>

        <button
            type="button"
            (click)="add()"
        >
            Confirm Contributor
        </button>

      </ul>
    </fieldset>

    

    <contributor-list
        *ngIf = "localContributorList && localContributorList.length > 0"
        [contributorList] = "localContributorList"
        (onDeleted) = 'remove($event)'
    ></contributor-list>

  <div>
    <validation-result
      [validationResult] = 'validationResult'
    ></validation-result>
    <button (click)="cancel()">Cancel</button>
    <button (click)="save()">Save</button>
  </div>
  <confirm-discard
    *ngIf="confirmDicardIsVisible"
    (onConfirm) = 'close()'
    (onCancel) = 'hideConfirmDiscardModal()'
  ></confirm-discard>
  </form>
