details {
  display: inline-block;
  summary {
    background: url(/assets/images/threeDots.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: list-item;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
    border: solid 1px #d8e0f0;
    cursor: pointer;
    transition: 0.5s;
    padding: 8px 14px;

    &:hover {
      border: solid 1px #91929e;
      transition: 0.5s;
    }
  }
  ul {
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 4px 24px 0 rgba(121, 145, 173, 0.24);
    background-color: #fff;
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 16px 55px 16px 16px;
    li {
      &:nth-child(1) {
        button {
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #0a1629;
          background: none;
          border: none;
          margin-bottom: 16px;
        }
      }
      &:nth-child(2) {
        button {
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #f65160;
          background: none;
          border: none;
        }
      }
    }
  }
}

summary::marker,
summary::-webkit-details-marker {
  color: transparent;
  display: none;
  outline: none;
}
