<select
    name="gneder"
    id="gender"
    [(ngModel)]="selectedGender"
    (change)="changeGender()"
>
    <option
        value="Female"
    >
        Female
    </option>
    <option
        value="Male"
    >
        Male
    </option>
    <option
        value="Transgender"
    >
        Transgender
    </option>
    <option
        value="Non-binary/non-conforming"
    >
        Non-binary/non-conforming
    </option>
    <option
        value="Prefer not to respond"
    >
        Prefer not to respond
    </option>
</select>
