ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  padding: 14px 6px;
  width: max-content;
  label {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0a1629;
    padding: 9px 27px;
    cursor: pointer;
    background-color: #f4f9fd;
    margin: 0 12px;
    border-radius: 8px;
    width: 56px;
    
  }
  li {
      
    &:nth-child(1) {
     label{
         margin-left: 0;
     }
    }
  }
  input {
    visibility: hidden;

    display: none;

  }
  input[type="radio"]:checked + label {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    background-color: #3f8cff;
    animation: mymove 1s;

  }
}

@keyframes mymove {
  from {
    background-color: #e6edf5;
  }
  to {
    background-color: #3f8cff;
  }
}
