<div class="main-modal">
    
  <form class="popup"
  *ngIf = "pageTitle == 'General'"
  >
  <loading
    *ngIf="isLoading"
  ></loading>
  <button class="close-btn"
  (click) = 'close()'
  >
  Close
  </button>
  <legend>Project</legend>
  <details>
    <summary>How to add a project?</summary>
    <p class="summaryAnimation">
      We suggest using a PowerPoint or PDF format for the "Project Summary" file. Use a descriptive name. We highly recommend filling out the description section even though it is optional. Selecting the right project topics is crucial since Flastio uses this information to best match you with the right hiring managers and show you the most useful analytics.
    </p>
  </details>
  <fieldset
    [disabled]="isLoading"
  >
    <ul>
      <li class="uploadfile-section">
        <div
          id="divProjectFile"
          name="divProjectFile"
        >
        <p>Project Summary file</p>
        <span>Drag your files here to upload</span>
        <label
          for="divProjectFile"
        >
          or click to browse
        </label>
          <input
              type="file"
              id='projectFile'
              name='projectFile'
              (change)="handleFileInput($event.target.files)"
          >
        </div>
      </li>
      <li>
        <!-- <label for="slctProjectType"> Project Type </label> -->
        <select-type-project
          id="slctProjectType"
          (onProjectTypeSelected)="setProjecType($event)"
        ></select-type-project>
      </li>
      <li>
        <label for="txtProjectName"> Project’s name </label>
        <input
          type="text"
          name="txtProjectName"
          id="txtProjectName"
          [(ngModel)]="project.name"
          placeholder="Enter name of project"
        />
      </li>
      <li>
        <div id="divSelectCourse">
          <search-course
            [major]="major"
            [seletedCourse] = 'this.project.course'
            (onCourseSelected)="setCoursse($event)"
          ></search-course>
        </div>
      </li>

      <li>
        <label for="txtDescription"> Description </label>
        <textarea
          name="txtDescription"
          id="txtDescription"
          rows="5"
          [(ngModel)]="project.description"
          placeholder="Brief description is recommended for projects"
        ></textarea>
      </li>
      <li>
        <label for="divSkill"> Add Project Topics </label>
        <div id="divSkill">
          <search-skill (onSkillSelected)="addSkill($event)"></search-skill>
        </div>
      </li>
      <li>
        <label for="divAssignedSkill"> Project Assigned Skill List </label>
        <div id="divAssignedSkill">
          <ul
            *ngIf="project && project.skillList && project.skillList.length > 0"
          >
            <li *ngFor="let skill of project.skillList">
              <skill-list-item
                [skill] = 'skill'
                (onSkillDeleted) = 'removeSkillFromProject(skill)'
                class="remove-skill-list"
              ></skill-list-item>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <label for="slctYearCompleted"> Year Completed </label>
        <year-select
          id="slctYearCompleted"
          (onYearSelected)="setYearCompleted($event)"
        ></year-select>
      </li>
    </ul>
    <validation-result
      [validationResult] = 'validationResult'
    ></validation-result>
  </fieldset>


  <button class="submit-btn" (click)="draft()">Save draft</button>
  <button class="cancel-btn" (click)="publish()">Publish</button>
  <project-strength
    [project] = project
  ></project-strength>
  <add-paging-project
    [hadAttachment] = 'project.supportingFileList.length > 0'
    [hadLinks] = 'project.linkUrlList.length > 0' 
    [hadCertification] = 'project.linkUrlList.length > 0' 
    [hadTeam] = 'project.contributorList.length > 0' 
    (onPageTitleSelected)="changePage($event)"
  ></add-paging-project>
  </form>
  
  <assign-link-project
  *ngIf="pageTitle == 'Links'"
  [linkUrlList]="project.linkUrlList"
  (onLinkUrlListUpdated) = "updateLinkUrlList($event)"
  (onClose) = 'goToGeneralView($event)'
  ></assign-link-project>
  <assign-supporting-file-project
  *ngIf="pageTitle == 'Attachment'"
  [supportingFileList] = "project.supportingFileList"
  (onSupportingFileListUpdated) = "updateSupportingFileList($event)"
  (onClose) = 'goToGeneralView($event)'
  updateSupportingFileList
  ></assign-supporting-file-project>
  <assign-contributor
  *ngIf = "pageTitle == 'Team'"
  [contributorList] = "project.contributorList"
  (onContributorListUpdated) = "updateContributorList($event)"
  (onClose) = 'goToGeneralView($event)'
  ></assign-contributor>

</div>