<section>
    <h2>
        Projects
    </h2>
    <project-list
        *ngIf = "projectList && projectList.length > 0"
        [projectList] = "projectList"
        (onEdit) = "edit($event)"
        (onDelete) = "delete($event)"
        (onChangeIndex) = "changeIndex($event)"
    ></project-list>

    <button
        class = "main-add-btn"
        *ngIf = "projectList && projectList.length > 0"
        (click) = "showAddProjectForm()"
    >
        Add Project
    </button>

    
    <empty-project
        *ngIf = "!projectList || projectList.length == 0"
        (onAddProjectClicked) = 'showAddProjectForm()'
    ></empty-project>
    <add-project
        *ngIf = "isAddProjectVisible"
        [major] = 'major'
        (onClose) = "hideAddProjectForm()"
        (onProjectAdded) = 'addNewProject($event)'
    ></add-project>

    <edit-project
        *ngIf = "isEditProjectVisible && markAsEditProject"
        [project] = 'markAsEditProject'
        [major] = 'major'
        (onClose) = "hideEditProjectForm()"
        (onProjectEdited) = 'changeEditedProject($event)'
    ></edit-project>

    <confirm-delete
        *ngIf = "isConfirmDeleteVisible"
        (onCancel) = "hideConfrimDelete()"
        (onConfirm) = "confirmedDelete()"
    ></confirm-delete>
</section>