<section>
    <h2>
        Projects
    </h2>
    <project-list
        *ngIf="projectList && projectList.length > 0"
        [projectList] = "projectList"
    ></project-list>

    
    <empty-project
        *ngIf = "!projectList || projectList.length == 0"
        (onAddProjectClicked) = 'showAddProjectForm()'
    ></empty-project>
    <add-project
        *ngIf = "isAddProjectVisible"
        (onClose) = "hideAddProjectForm()"
    ></add-project>
    <confirm-delete
        *ngIf = "isConfirmDeleteVisible"
        (onCancel) = "hideConfrimDelete()"
        (onConfirm) = "deleteProject()"
    ></confirm-delete>
</section>