<section>
    <h2>
        Projects
    </h2>
    <project-list
        *ngIf="projectList && projectList.length > 0"
        [projectList] = "projectList"
    ></project-list>

    <button class="main-add-btn"
        *ngIf = "projectList && projectList.length > 0"
        (click) = "showAddProjectForm()"
    >
        Add Project
    </button>

    
    <empty-project
        *ngIf = "!projectList || projectList.length == 0"
        (onAddProjectClicked) = 'showAddProjectForm()'
    ></empty-project>
    <add-project
        *ngIf = "isAddProjectVisible"
        [major] = 'major'
        (onClose) = "hideAddProjectForm()"
        (onProjectAdded) = 'addNewProject($event)'
    ></add-project>
    <confirm-delete
        *ngIf = "isConfirmDeleteVisible"
        (onCancel) = "hideConfrimDelete()"
        (onConfirm) = "deleteProject()"
    ></confirm-delete>
</section>