<section>
    <span>
        <ngx-qrcode 
            [elementType]="'url'" 
            [value]="publicLinkUrl"
            cssClass="aclass"
            errorCorrectionLevel="L">
        </ngx-qrcode>
    </span>
   <div>
        <h4>
            Scan QR Code
        </h4>
        <p>
            Download and place the QR code on your resume. It helps the hiring manager easily pull up your portfolio when using a paper copy of your resume.
        </p>
        <button>Download</button>
   </div>
</section>