
<form>

    <fieldset>
        <ul>
            <li>
                <label for="txtSkillKeyWord">
                    Type To Search in Skill:
                </label>
                <input
                    type = "text"
                    name = "txtSkillKeyWord"
                    id = "txtSkillKeyWord"
                    [(ngModel)] = 'skillKeyWord'
                    (keyup) = "onKeyup($event)"
                >
            </li>
        </ul>
    </fieldset>
 
</form>
    <loading
        *ngIf="isLoading"
    ></loading>
<div class="search-skill-result">
    <button
    (click) = "addSkill()"
>

    add {{skillKeyWord}} to Skills
</button>
    <ul
    *ngIf="skillList && skillList.length > 0"
    
>
    <li
        *ngFor = 'let skill of skillList'
        (click) = 'selected(skill)'
    >
        {{skill.name}}
    </li>
</ul>
</div>
