<form #form="ngForm">
  <button class="close-btn" (click)="close()">Close</button>

  <legend>Add Supporting Links</legend>

  <fieldset>
    <p>
      You can share any related links, including links to YouTube videos,
      potential websites, or webpages you built as a part of your project
    </p>

    <ul>
      <!-- <label for="txtLink"> Insert Link </label> -->
      <li>
        <input
          type="url"
          name="txtLink"
          id="txtLink"
          [(ngModel)]="linkUrl"
          placeholder="Enter link here …"
        />
        <button (click)="processLink()">Add</button>
      </li>
    </ul>
  </fieldset>
</form>

<ul *ngIf="linkUrlList && linkUrlList.length > 0">
  <li *ngFor="let linkUrl of linkUrlList">
    <dl>
      <div>
        <dt>Title</dt>
        <dd>
          {{ linkUrl.title }}
        </dd>

        <dt>Host</dt>
        <dd>
          {{ linkUrl.host }}
        </dd>
      </div>
      <dt>Delete</dt>
      <dd>
        <button>Delete</button>
      </dd>
    </dl>
  </li>
</ul>

<div>
  <button (click)="cancel()">Cancel</button>
  <button (click)="save()">Save</button>
</div>
