<form #form="ngForm">
  <button class="close-btn" (click)="close()">Close</button>

  <legend>Add Supporting Links</legend>

  <fieldset>
    <p>
      You can share any related links, including links to YouTube videos,
      potential websites, or webpages you built as a part of your project
    </p>

    <ul>
      <!-- <label for="txtLink"> Insert Link </label> -->
      <li class="assign-link-add-section">
        <input
          type="url"
          name="txtLink"
          id="txtLink"
          [(ngModel)]="linkUrl"
          placeholder="Enter link here …"
        />
        <button class="assign-link-add-btn" (click)="processLink()">Add</button>
      </li>
    </ul>
  </fieldset>
  <ul *ngIf="linkUrlList && linkUrlList.length > 0">
    <li *ngFor="let linkUrl of linkUrlList">
      <dl>
        <div>
          <dt>Title</dt>
          <dd>
            {{ linkUrl.title }}
          </dd>
  
          <dt>Host</dt>
          <dd>
            {{ linkUrl.host }}
          </dd>
        </div>
        <dt>Delete</dt>
        <dd>
          <button class="assign-link-delete-btn">Delete</button>
        </dd>
      </dl>
    </li>
  </ul>
  
  <div class="assign-link-btn-section">
    <button class="cancel-btn" (click)="cancel()">Cancel</button>
    <button class="submit-btn" (click)="save()">Save</button>
  </div>
  
</form>

