<input
    list="yearList"
    [(ngModel)] = "selectedYear" 
    value = "{{selectedYear}}"
    (ngModelChange)="changeYear()"
    type="number"
    maxlength="4"
    max="2021"
    minlength="4"
    min="1980"
    id="year"
    name="year"
    placeholder="Year"
>
<datalist
    id="yearList"
>
    <option
        *ngFor="let year of yearList"
        [value]="year"
    >
        {{year}}
    </option>
</datalist>


<!-- <select
    name="year"
    id="year"
    [(ngModel)]="selectedYear"
    (change)="changeYear()"
>
    <option
        value=""
        disabled
        selected
        hidden
    >
        Year
    </option>
    <option
        value="2019"
    >
        2019
    </option>
    <option
        value="2020"
    >
        2020
    </option>
    <option
        value="2021"
    >
        2021
    </option>
    <option
        value="2022"
    >
        2022
    </option>
    <option
        value="2023"
    >
        2023
    </option>
</select> -->
