<form
    (ngSubmit)="onSubmit()"
    #form="ngForm"
>
    <legend>
        Add School
    </legend>
    <fieldset>
        <ul>
            <li>
                <label for="txtSchoolName">
                    Your School
                </label>
                <input
                    type="text"
                    name="txtSchoolName"
                    id="txtSchoolName"
                    [(ngModel)] = 'school.name'
                >
            </li>
        </ul>
        <!-- <input type="submit" value="Save"> -->
    </fieldset>
</form>
