<nav>
  <ul>
    <li
      *ngFor = "let pageTitle of pageTitleList"
      (click)="changePageTitle(pageTitle)"
      [ngClass]="{'isUploaded': hadItem(pageTitle)}"
    >
      <input
        type="radio"
        name="pageTitle"
        [attr.id]="pageTitle"
        [attr.title]="pageTitle"
        value="{{ pageTitle }}"
        [(ngModel)]="selectedPageTitle"
        (change)="changePageTitle(pageTitle)"
        
      />
      <label
        [attr.for] = "pageTitle"
        [attr.title] = "pageTitle"
      >
        {{ pageTitle }}
      </label>
    </li>
  </ul>
</nav>
