<dl>
  <dt>picture</dt>
  <dd>
    <img 
      *ngIf="!student.pictureFileUrl"
      src="/assets/images/profile-icon.svg"
      alt="image"
    >
    <img 
      *ngIf="student.pictureFileUrl"
      [src]="student.pictureFileUrl"
      alt="image"
    >
  </dd>
  
  <dt>
    Plane
  </dt>
  <dd>
    <student-plane></student-plane>
  </dd>
  <dt>FistName</dt>
  <dd>
    {{ student.firstName }}
    {{ student.lastName }}
  </dd>
  <dt>LastName</dt>
  <dd>
 
  </dd>
  <dt>Major</dt>
  <dd>
    {{ student.major.name }} Student

    <school-status
      [status] = 'student.collegeStatus'
  ></school-status>
  </dd>
  <dt>
    School Status
  </dt>
  <dd>

  </dd>
  <dt>School</dt>
  <dd>
    @{{ student.school.name }}
    
  </dd>
</dl>

