<dl>
  <dt>picture</dt>
  <dd>
    <img 
      *ngIf="!student.pictureFileUrl"
      src="/assets/images/profile.webp"
      alt="image"
    >
    <img 
      *ngIf="student.pictureFileUrl"
      [src]="student.pictureFileUrl"
      alt="image"
    >
  </dd>
  
  <dt>
    Plane
  </dt>
  <dd>
    <student-plane></student-plane>
  </dd>
  <dt>FistName</dt>
  <dd>
    {{ student.firstName }}
  </dd>
  <dt>LastName</dt>
  <dd>
    {{ student.lastName }}
  </dd>
  <dt>Major</dt>
  <dd>
    {{ student.major.name }} Student
  </dd>
  <dt>
    School Status
  </dt>
  <dd>
    <school-status
      [status] = '"Freshman"'
    ></school-status>
  </dd>
  <dt>School</dt>
  <dd>
    @{{ student.school.name }}
    
  </dd>
</dl>

