section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &::after {
    content: url(/assets/images/clip-school-assignment.webp);
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #0a1629;
  }
  p {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0a1629;
    opacity: 0.7;
  }
  button {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 19px 10px 8px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #91929e;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
    border: solid 1px #d8e0f0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &::before {
      content: url(/assets/images/icn-general-add-blue.svg);
      margin-right: 12px;
      -webkit-writing-mode: vertical-rl;
    }
    transition: 0.5s;

    &:hover {
      border: solid 1px #91929e;
      transition: 0.5s;
    }
  }
}

@media screen and (max-width: 992px) {
  section {
    flex-direction: column;
    padding-bottom: 40px;
  }
}
