<dl>
    <dt>Title</dt>
    <dd>
    {{ supportingFile.title }}
     </dd>

    <dt>Size</dt>
    <dd>
      {{ supportingFile.size }}
    </dd>

    <dt>Uploaded</dt>
    <dd
      *ngIf="!supportingFile.isUploadComeplete"
    >
      Uploading ...
    </dd>
    <dd
      *ngIf="supportingFile.isUploadComeplete"
    >
      {{this.supportingFile.file.type}}
    </dd>
</dl>
<div>
  <button
    type = "button"
    (click) = "view()"
  >
    View
  </button>
  <button
    type = "button"
    *ngIf = "isRemovable"
  >
    Delete
  </button>
</div>