<select
    name="collegeStatus"
    id="collegeStatus"
    [(ngModel)]="selectedCollegeStatus"
    (change)="changeCollegeStatus()"
>
    <option
        value="Freshman"
    >
        Freshman
    </option>

    <option
        value="Sophomore"
    >
        Sophomore
    </option>

    <option
        value="Junior"
    >
        Junior
    </option>

    <option
        value="Senior"
    >
        Senior
    </option>

    <option
        value="Graduated"
    >
        Graduated
    </option>
</select>


