<dl>
  <dt>Image</dt>
  <dd
    *ngIf = "!assignedCertification.fileUrl"
  >
    <img
      src = "/assets/images/defult-certification-bg.svg" class="defult-image"
      [alt] = "assignedCertification.certification.name"
    />
  </dd>
  <dd
    *ngIf = "assignedCertification.fileUrl"
  >
    <img
      [src] = "assignedCertification.fileUrl"
      [alt] = "assignedCertification.certification.name"
    />
  </dd>

  <div>
    <dt>Name</dt>
    <dd>
      {{ assignedCertification.certification.name }}
    </dd>

    <dt>Action Panel</dt>
    <dd class="certification-action-panel">
      <certification-action-panel
        (onEdit) = "edit()"
        (onDelete) = "delete()"
        (onChangeIndex) = "changeIndex($event)"
      > </certification-action-panel>
    </dd>

    <dt>Issued Date Year</dt>
    <dd>
      {{ assignedCertification.issuedDateYear }}
  
    </dd>

    <dt>Issued Date Month</dt>
    <dd>
      {{ assignedCertification.issuedDateMonth }}
    </dd>
  </div>
</dl>
