<dl>
  <dt>Image</dt>
  <dd
    *ngIf = "!assignedCertification.fileUrl && assignedCertification.certification"
  >
    <img
      src = "/assets/images/defult-certification-bg.svg" class="defult-image"
      [alt] = "assignedCertification.certification.name"
    />
  </dd>
  <dd
    *ngIf = "assignedCertification.fileUrl && assignedCertification.certification"
  >
    <img
      [src] = "assignedCertification.fileUrl"
      [alt] = "assignedCertification.certification.name"
    />
  </dd>

  <div>
    <dt>Name</dt>
    <dd class="certification-name"
      *ngIf="assignedCertification.certification"
    >
      {{ assignedCertification.certification.name }}
    </dd>

    <dt>Issued Date Month</dt>
    <dd class="certification-date-month">
      <month-label
        [monthNumber] = "assignedCertification.issuedDateMonth"
      ></month-label>
    </dd>
    
    <dt>Issued Date Year</dt>
    <dd class="certification-date-year">
      {{ assignedCertification.issuedDateYear }}
    </dd>

    

    <dt
      *ngIf="assignedCertification.organization"
    >Organization</dt>
    <dd class="certification-organization"
      *ngIf="assignedCertification.organization"
    >
      {{assignedCertification.organization}}
    </dd>
  </div>
</dl>

<div
  class="certification-action-panel"
  *ngIf = 'isActionable'
>
  <certification-action-panel
    (onEdit) = "edit()"
    (onDelete) = "delete()"
    (onChangeIndex) = "changeIndex($event)"
  > </certification-action-panel>

  <button class="certification-fileUrl"
    *ngIf="assignedCertification.fileUrl"
    (click) = 'view()'
  >
    View
  </button>
</div>
