dt {
  display: none;
}
dl {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
  img {
    width: 85px;
    height: 64px;
    border-radius: 2px;
    background-color: rgba(63, 140, 255, 0.09);
  }
  dd {
    margin: 0;
    padding: 0;
    &:nth-child(2) {
      margin: 0;
    }
  }

  div {
    margin-left: 16px;
    display: grid;
    grid-template-columns: 0fr 0fr 1.5fr;

    .certification-name {
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.44;
      letter-spacing: normal;
      color: #0a1629;
      margin: 0 0 9px 0;
      grid-column: span 3;
    }
    .certification-date-year {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.31;
      letter-spacing: normal;
      color: #91929e;
      margin-right: 20px;
    }
    .certification-date-month {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.31;
      letter-spacing: normal;
      color: #91929e;
      margin-right: 3px;
    }
    .certification-organization {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.31;
      letter-spacing: normal;
      color: #91929e;
      margin-right: 3px;
    }
  }
}
.certification-action-panel {
  position: absolute;
  right: 0;
  top: 4px;
  left: 0;
  bottom: 0;
  transition: 0.5s all;
  &:hover {
    transition: 0.5s all;
    .certification-fileUrl {
      display: block;
      transition: 0.5s all;
    }
  }
}
.defult-image {
  width: 17px !important;
  height: 21px !important;
  padding: 26px 35px;
}
.certification-fileUrl {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #91929e;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
  border: solid 1px #d8e0f0;
  background-color: #fff;
  padding: 6px 12px;
  position: absolute;
  top: 30px;
  right: 15px;
  display: none;
  transition: 0.5s all;
}
