
<a class="upgrade-back-btn"
    href="/student/panel"
>
    Back to portfolio
</a>
<h1>
    Upgrade Plan
</h1>
<p>
    Level up your career with Flastio Pro
</p>
<loading
    *ngIf = "isLoading"
></loading>
<main>
    <section>
        <h2>
            Free
        </h2>
        <u
            *ngIf="!isLoading && !student.isPremium"
        >
            Your Current Plan
        </u>
        <student-plane
            [isPremium] = 'false'
        >
        </student-plane>
        <p>
            Build your professional portfolio, and get expert feedback on it as you progress through your educational journey
        </p>
    
        <ul>
            <li>
                Upload your projects and supporting documents
            </li>
            <li>
                Upload your resume
            </li>
            <li>
                Upload your transcript
            </li>
            <li>
                Upload your professional certifications
            </li>
            <li>
                Receive expert feedback on your projects, resume, and videos
            </li>
            <li>
                Request & showcase recommendation letters and testimonials
            </li>
            <li>
                Basic analytics of your portfolio performance
            </li>
        </ul>
    </section>
    
    <section>
        <h2>
            Premium
        </h2>
        <u
            *ngIf="!isLoading && student.isPremium"
        >
            Your Current Plan
        </u>
        <student-plane
            [isPremium] = 'true'
        >
        </student-plane>
        <p>
            Upgrade to premium, share your portfolio with employers, and land your dream internship/job
        </p>

        <plane-calculator
            (onSetPlane) = 'setPlane($event)'
        ></plane-calculator>
    
        <b class="list-title">
            All the Free features, plus:
        </b>
        <ul>
            <li>
                Sharable link to your portfolio
            </li>
            <li>
                Allow employers to contact you via Flastio
            </li>
            <li>
                Access to virtual mock interviews to prepare for the actual ones
            </li>
            <li>
                Receive expert coaching on your educational roadmap towards your dream job
            </li>
            <li>
                Advanced analytics and actionable insights
            </li>
        </ul>
        <button
            *ngIf="!isLoading && !student.isPremium"
            type="button"
            (click)="goToPayment()"
        >
            Upgrade
        </button>
    </section>
</main>

<p class="footer">
    You can always downgrade to the Free tier. Your downgrade or cancelation request becomes effective at the end of the billing period based on the plan you select (monthly vs. annual)
</p>
