<h1>
    Upgrade Plan
</h1>
<p>
    Level up your career with Flastio Pro
</p>
<main>
    <section>
        <h2>
            Free
        </h2>
        <u>
            Your Current Plan
        </u>
        <student-plane>
        </student-plane>
        <p>
            Upgrade your social portfolio with a stunning profile & enhanced shots.
        </p>
    
        <ul>
            <li>
                Lorem ipsum dolor sit amet
            </li>
            <li>
                Lorem ipsum dolor sit amet
            </li>
            <li>
                Lorem ipsum dolor sit amet
            </li>
            <li>
                Lorem ipsum dolor sit amet
            </li>
            <li>
                Lorem ipsum dolor sit amet
            </li>
        </ul>
    </section>
    
    <section>
        <h2>
            Premium
        </h2>
        <u>
            Your Current Plan
        </u>
        <student-plane>
        </student-plane>
        <p>
            Upgrade your social portfolio with a stunning profile & enhanced shots.
        </p>

        <plane-calculator></plane-calculator>
    
        <ul>
            <li>
                Lorem ipsum dolor sit amet
            </li>
            <li>
                Lorem ipsum dolor sit amet
            </li>
            <li>
                Lorem ipsum dolor sit amet
            </li>
            <li>
                Lorem ipsum dolor sit amet
            </li>
            <li>
                Lorem ipsum dolor sit amet
            </li>
        </ul>
        <button
            type="button"
        >
            Get Started
        </button>
    </section>
</main>

<p>
    Your downgrade or cancelation request becomes effective at the end of the billing period based on the plan you select (monthly vs. annual)
</p>
