
<loading
  *ngIf="isLoading"
></loading>

<div
  class = "uploadfile-section"
  id = "divProjectSummaryFileSelector"
  name = "divProjectSummaryFileSelector"
  *ngIf = "!isFileUploaded"
  onload="setDropable()"
>
  <p>
    Project Summary file
  </p>
  <span>
    Drag your files here to upload
  </span>
  <label
    for="certificationFile"
  >
    or click to browse
  </label>
  <input
    type="file"
    id='certificationFile'
    name='certificationFile'
    (change)="handleFileInput($event.target.files)"
    [disabled]="isLoading"
  >
</div>

<div
  *ngIf="isFileUploaded"
>
  <u>
    Project Summary File Uploaded
  </u>
  <button
    class = "remove-picture"
    (click) = "remove()"
  >
    Remove
  </button>
</div>