
<loading
  *ngIf="isLoading"
></loading>

<div
  class = "uploadfile-section"
  id = "divProjectSummaryFileSelector"
  name = "divProjectSummaryFileSelector"
  *ngIf = "!isFileUploaded"
  onload="setDropable()"
>
  <p>
    Project Summary file
  </p>
  <span>
    Drag your files here to upload
  </span>
  <label
    for="certificationFile"
  >
    or click to browse
  </label>
  <input
    type="file"
    id='certificationFile'
    name='certificationFile'
    (change)="handleFileInput($event.target.files)"
    [disabled]="isLoading"
  >
</div>

<div
  *ngIf="isFileUploaded"
  class="uploader-summary"
>
  <p>Final_Project_SOM_Fall21.PDF
    <span>PDF</span>
  </p>
  <!-- <button
    class = "remove-picture"
    (click) = "remove()"
  >
    Remove
  </button> -->
  <div>
    <button>View</button>
  <button>delete</button>
  </div>
</div>