
<loading
  *ngIf="isLoading"
></loading>

<div
  class = "uploadfile-section"
  id = "divProjectSummaryFileSelector"
  name = "divProjectSummaryFileSelector"
  *ngIf = "!isFileUploaded"
  onload="setDropable()"
>
  <p>
	Project Summary file
  </p>
  <span>
	Drag your files here to upload
  </span>
  <label
	for="certificationFile"
  >
	or click to browse
  </label>
  <input
	type="file"
	id='certificationFile'
	name='certificationFile'
	(change)="handleFileInput($event.target.files)"
	[disabled]="isLoading"
  >
</div>

<div
  *ngIf="isFileUploaded"
  class="uploader-summary"
>
  <p>
	File Uploaded
	<span>
	  {{summaryFile.fileExtention}}
	</span>
  </p>
  <div>
	<!-- <button>View</button> -->
	<button
	  (click) = "remove()"
	>
		delete
	</button>
  </div>
</div>