
<uploading
    *ngIf="isLoading"
></uploading>
<div
    id="divCertificationFileSelector"
    name="divCertificationFileSelector"
    *ngIf="!isFileUploaded"
    onload="setDropable()"
>
<p>Certification File</p>
<span>Drag your files here to upload</span>
<label for="certificationFile">
  or click to browse
</label>
  <input
      type="file"
      id='certificationFile'
      name='certificationFile'
      (change)="handleFileInput($event.target.files)"
      [disabled]="isLoading"
  >
</div>
<div
    *ngIf="isFileUploaded"
>
    <u>
        Certification File Uploaded
    </u>
    <button
        class = "remove-picture"
        (click) = "remove()"
    >
        Remove
    </button>
</div>