<div class="main-modal">
    <section class="popup">
      <h4>
        You are now leaving our website.
      </h4>
      <p>
        You are about to leave Flastio. You are being redirected to an external website to process your payment. Upon your successful payment, please close the payment window. Would you like to leave?
      </p>
      <button
        class = "confirm-btn"
        (click) = "confirm()"
      >
        Continue
      </button>
      <button
        class = "cancel-btn"
        (click) = "cancel()"
      >
        Stay here
      </button>
    </section>
  </div>
  