<form>
    <button class="close-btn" (click)="close()">Close</button>
  
    <legend>
        Add Supporting Files
    </legend>
  
    <fieldset>
      <p>
        Consider uploading files such as your Python code, Excel file including your modeling or analysis, CAD files, or relevant photos or videos.
      </p>
  
      <ul>
        <!-- <label for="txtLink"> Insert Link </label> -->
     
          <div
            id="divSupportingFileSelector"
            name="divSupportingFileSelector"
            onload="setDropable()"
          >
          <p>Supporting File</p>
          <span>Drag your files here to upload</span>
          <label for="supportingFile">
            or click to browse
        </label>
            <input
                type="file"
                id='supportingFile'
                name='supportingFile'
                (change)="handleFileInput($event.target.files)"
            >
          </div>
      </ul>
    </fieldset>
      
  <ul *ngIf="localSupportingFileList && localSupportingFileList.length > 0">
    <li *ngFor="let supportingFile of localSupportingFileList">
      <dl>
        <div>
          <dt>Title</dt>
          <dd>
            {{ supportingFile.title }}
          </dd>
  
          <dt>Size</dt>
          <dd>
            {{ supportingFile.size }}
          </dd>

          <dt>Uploaded</dt>
          <dd
            *ngIf="!supportingFile.isUploadComeplete"
          >
            Uploading ...
          </dd>
          <dd
            *ngIf="supportingFile.isUploadComeplete"
          >
            {{this.supportingFile.file.type}}
          </dd>
        </div>
        <dt>Delete</dt>
        <dd>
          <button
            (click) = "remove(supportingFile)"
          >
            Delete
          </button>
        </dd>
      </dl>
    </li>
  </ul>
  
  <div class="assign-supporting-file-submit-section">
    <button (click)="cancel()">Cancel</button>
    <button (click)="save()">Save</button>
  </div>

  <confirm-discard
    *ngIf="confirmDicardIsVisible"
    (onConfirm) = 'close()'
    (onCancel) = 'hideConfirmDiscardModal()'
  ></confirm-discard>
  
  </form>
