<form
  *ngIf = '!isCheckMailVisible'
>
  <legend>
    Sign up
  </legend>
  <fieldset
    [disabled] = "isLoading"
  >
    <ul>
      <li>
        <label
          for = "cmpEmail"
        >
          Email Address:
        </label>
        <university-email-input
          id = "cmpEmail"
          name = "cmpEmail"
          (onSetEmail) = 'setEmail($event)'
        ></university-email-input>
      </li>
      <li>
        <label
            for = "cmpPassword"
          >
            Password
          </label>
          <password-input
            id = "cmpPassword"
            name = "cmpPassword"
            (onSetPassword)="setPassword($event)"
          ></password-input>
      </li>
      <li>
        <label
          for = "cmpReEnterPassword"
        >
          Reenter Password:
        </label>
        <password-input
            id = "cmpReEnterPassword"
            name = "cmpReEnterPassword"
            (onSetPassword) = "setReEnterPassword($event)"
          ></password-input>
      </li>
    </ul>
    <validation-result
      *ngIf = "validationResult"
      [validationResult] = "validationResult"
    ></validation-result>
    <button
      class="student-signup-submit"
      (click)="signup()"
      type = "button"
    >
        Signup
    </button>
    <loading
        *ngIf = 'isLoading'
    ></loading>
    <p>
      Go to 
      <a
        routerLink = '/auth/login'
      >
        Login
      </a>
    </p>
    <p>
      By signing up, I agree to the Flastio
      <a
        href = "https://www.flastio.com/privacy"
        target = "_blank"
      >
        Privacy Policy
      </a>
      and
      <a
        href = "https://www.flastio.com/terms"
        target = "_blank"
      >
        Terms of Service
      </a>
      .
    </p>
  </fieldset>
</form>

<section
  *ngIf = 'isCheckMailVisible'
  class = "confirm-section"
>
  <h2>
    Confirm your email address
  </h2>
  <b>
    A link was sent to {{email}}. It expires after an hour.
  </b>
  <p>
    We have sent an email with a confirmation link to your email address. In order to complete the sign-up process, please click the confirmation link.
  </p>
  <p>
    <b>
      If you do not receive a confirmation email, please check your spam folder.
    </b>
     Also, please verify that you entered a valid email address in our sign-up form.
  </p>
  <a
    href = "/auth/signup"
  >
    Back to Sign up
  </a>
</section>