fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  label {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0a1629;
    display: block;
    margin-left: 12px;
  }
  input {
    border-radius: 14px;
    box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
    border: solid 1px #d8e0f0;
    background-color: #fff;
    padding: 13px 0 14px 0;
    display: block;
    width: 100%;
    margin: 7px 0 17px 0;
    &::placeholder {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #7d8592;
    }
  }
}

.search-certification-result {
  position: relative;
  button {
    position: relative;
    top: 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #3f8cff;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    z-index: 10;
    margin-left: 15px;

    &::before {
      content: "";
      background: url(/assets/images/icn-general-add-dark-blue.svg);
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 16px;
    }
  }
  ul {
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(139, 149, 170, 0.2);
    background-color: #fff;
    padding: 45px 0 15px 15px;
    z-index: 7;
    width: 100%;
    top: -15px;
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
  }
  li {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0a1629;
    padding: 8px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      border-radius: 14px;
      background-color: rgba(63, 140, 255, 0.12);
      transition: 0.5s;
    }
  }
}

.search-certification-result-section {
  margin: 5px 4px 10px 5px;
  border-radius: 8px;
  background-color: rgba(0, 184, 92, 0.1);
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #00b85c;
  padding: 12px 11.5px 12px 12.5px;
  display: inline-flex;
  align-items: center;
  button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    content: "";
    background-image: url(/assets/images/icn-general-add-green.svg);
    background-position: center;
    background-repeat: no-repeat;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    font: status-bar;
    display: inline-flex;
    margin-left: 0;
    transform: rotate(45deg);
    padding: 0;
  }
}
