<div
  *ngIf="!selectedStudent"
>
  <form>
    <fieldset>
      <ul>
        <li>

          <input
            type="search"
            name="txtStudentKeyWord"
            id="txtStudentKeyWord"
            [(ngModel)]="studentKeyWord"
            (ngModelChange)="changed($event)"
            (keypress)="onKeyup($event)"
            placeholder="e.g., Six Sigma Yellow Belt"
            maxlength="200"
            minlength="3"
          />
        </li>
      </ul>
    </fieldset>
  </form>
  <loading
        *ngIf="isLoading"
    ></loading>
    <div class="search-certification-result">
      <button
        *ngIf = 'isAddable()'
        type="button"
        (click)="addStudent()"
      >
        Add {{ studentKeyWord }}
      </button>
      <ul *ngIf="studentList && studentList.length > 0">
        <li
          *ngFor="let student of studentList"
          (click)="selected(student)"
        >
          {{ student.email }}
        </li>
      </ul>
    </div>
</div>
<div
  class="search-certification-result-section"
  *ngIf="selectedStudent"
>
  {{selectedStudent.email}}
  <button
    (click)="remove()"
  >
    Remove
  </button>
</div>

