<div
  *ngIf="!selectedStudent"
>
  <form
    autocomplete="off"
  >
    <fieldset>
      <ul>
        <li>
          <university-email-input
            (onSetEmail) = 'changed($event)'
          ></university-email-input>
        </li>
      </ul>
    </fieldset>
  </form>
  <loading
        *ngIf="isLoading"
    ></loading>
    <div class="search-certification-result">
      <button
        *ngIf = 'isAddable()'
        type="button"
        (click)="inviteStudent()"
      >
        Invite {{ studentKeyWord }} to Flastio
      </button>
      <ul *ngIf="studentList && studentList.length > 0">
        <li
          *ngFor="let student of studentList"
          (click)="selected(student)"
        >
          {{ student.email }}
        </li>
      </ul>
    </div>
</div>
<div
  class="search-certification-result-section"
  *ngIf="selectedStudent"
>
  {{selectedStudent.email}}
  <button
    (click)="remove()"
  >
    Remove
  </button>
</div>

