<details
  id= 'certification-action-panel-details'
>
  
    <summary>actions</summary>
    <div
      (click)="close()"
      class="main-details"
    >

    </div>
  <ul>
    <li
    
    >
      <button
        (click) = "edit()"
      >
        Edit
      </button>
    </li>
    <li>
      <button
        (click) = "delete()"
      >Delete</button>
    </li>
    <!-- <li>
      <button
        (click) = "moveDown()"
      >Move Down</button>
    </li>
    <li>
      <button
        (click) = "moveUp()"
      >Move Up</button>
    </li> -->
  </ul>
  </details>
  