form {
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 6px 58px 0 rgba(121, 145, 173, 0.2);
  background-color: #fff;
  width: 50%;
  margin: 25px auto;
  position: relative;

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  legend {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0a1629;
    margin-bottom: 39px;
  }
  p {
    margin: 0 0 24px 0;
    padding: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    .assign-link-add-section {
      &:nth-child(1) {
        position: relative;
        display: flex;

        .assign-link-add-btn {
          position: absolute;
          right: 15px;
          top: 20px;
          margin: 0;
          padding: 0;
          border: none;
          background: none;
          display: flex;
          content: "";
          background-image: url(/assets/images/icn-general-add-dark-blue.svg);
          background-position: center;
          background-repeat: no-repeat;
          text-indent: 200%;
          white-space: nowrap;
          overflow: hidden;
          font: status-bar;
          cursor: pointer;
        }
      }
    }
    label {
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #0a1629;
      display: block;
      margin-left: 12px;
    }
    input {
      border-radius: 14px;
      box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
      border: solid 1px #d8e0f0;
      background-color: #fff;
      padding: 13px 18px 14px 18px;
      display: block;
      width: 100%;
      margin: 7px 0 27px 0;
      &::placeholder {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #7d8592;
      }
    }
  }
}

dt {
  display: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
dl {
  display: flex;
  padding: 16px;
  align-items: center;

  &::before {
    content: "";
    background-image: url(/assets/images/icn-general-addlink-green.svg);
    background-position: center;
    background-repeat: no-repeat;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    font: status-bar;
    padding: 20px;
    border-radius: 14px;
    background-color: rgba(21, 192, 230, 0.1);
    margin-right: 16px;
  }
  dd {
    margin: 0;
    padding: 0;
    margin-left: auto;
    &:nth-child(2) {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #0a1629;
    }
    &:nth-child(4) {
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #91929e;
    }
    &:nth-child(5) {
      background-color: red;
    }
    .assign-link-delete-btn {
      content: "";
      background-image: url(/assets/images/delete.svg);
      background-position: center;
      background-repeat: no-repeat;
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden;
      font: status-bar;
      display: flex;
      padding: 11px 2px;
      border-radius: 8px;
      box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
      border: solid 1px #d8e0f0;
      background-color: #fff;
      cursor: pointer;
    }
  }
  transition: 0.5s;

  &:hover {
    border-radius: 8px;
    background-color: #f4f9fd;
    transition: 0.5s;
  }
}

.close-btn {
  background-color: #f4f9fd;
  border-radius: 50%;
  border: none;
  -webkit-writing-mode: vertical-rl;
  display: flex;
  padding: 11px 6px;
  border: none;
  content: "";
  background-image: url(/assets/images/move-up.svg);
  background-position: center;
  background-repeat: no-repeat;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  font: status-bar;
  position: absolute;
  top: 15px;
  left: 15px;
  border: none;
  transform: rotate(-90deg);
  box-shadow: none;
  margin-top: 0;
}

.assign-link-btn-section {
  display: flex;
  align-items: center;
  justify-content: end;
  border-top: 1px solid #e6ebf5;
  padding-top: 32px;

  .submit-btn {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    padding: 14px 31px;
    border-radius: 14px;
    box-shadow: 0 6px 12px 0 rgb(63 140 255 / 26%);
    background-color: #3f8cff;
    border: none;
    margin-left: 16px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background-color: #3a81eb;
      transition: 0.5s;
    }
  }
  .cancel-btn {
    padding: 12px 22px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(184 200 224 / 22%);
    border: solid 1px #d8e0f0;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #91929e;
    transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      border: solid 1px #91929e;
      transition: 0.5s;
    }
  }
}
