<div
    *ngIf="!selectedSchool"
>
    <form>
        <legend>
            Search School
        </legend>
        <fieldset>
            <ul>
                <li>
                    <label for="txtSchoolKeyWord">
                        Type To Search in School:
                    </label>
                    <input
                        type = "text"
                        name = "txtSchoolKeyWord"
                        id = "txtSchoolKeyWord"
                        [(ngModel)] = 'schoolKeyWord'
                        (keyup) = "onKeyup($event)"
                    >
                </li>
            </ul>
            <button (click)="addSchool()">
                Add {{ schoolKeyWord }}
            </button>
        </fieldset>
    </form>

    <loading
        *ngIf="isLoading"
    ></loading>
    
    <ul
        *ngIf="schoolList && schoolList.length > 0"
    >
        <li
            *ngFor = 'let school of schoolList'
            (click) = 'selected(school)'
        >
            {{school.name}}
        </li>
    </ul>
</div>
<div
    *ngIf="selectedSchool"
>
    {{selectedSchool.name}}
    <button
        (click)="remove()"
    >
        Remove
    </button>
</div>
