<flastio-logo></flastio-logo>
<ul>
    <li>
        Notifications
    </li>
    <li>
        <details
            id = 'dtlProfile'
            name = 'dtlProfile'
        >
            <summary>
                <img 
                    *ngIf="!student.pictureFileUrl"
                    src="/assets/images/profile-icon.svg"
                    alt="image"
                >
                <img 
                    *ngIf="student.pictureFileUrl"
                    [src]="student.pictureFileUrl"
                    alt="image"
                >
            </summary>
            <student-modal-banner
                [student] = 'student'
                (onClose) = "close()"
            ></student-modal-banner>
        </details>
    </li>
</ul>