ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  li {
    margin: 0;
    padding: 0;
    // &:nth-child(1) {
    //   content: url(/assets/images/notification-bell.svg);
    // }
  }
  details {
    margin: 0;
    padding: 0;
    summary {
      cursor: pointer;
      display: flex;
      width: 30px;
      height: 30px;
      img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
      }
    }
  }
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

@media screen and (max-width: 992px) {
  ul {
    gap: 20px;
    padding: 10px 10px 10px 60px;
  }
}
