<flastio-logo></flastio-logo>
<loading
    *ngIf = "isLoading"
></loading>
<ul>
    <li>
        Notifications
    </li>
    <li>
        <details
            id = 'dtlProfile'
            name = 'dtlProfile'
        >
            <summary>
                <img 
                    *ngIf = "!student || !student.pictureFileUrl"
                    src = "/assets/images/profile-icon.svg"
                    alt = "image"
                >
                <img 
                    *ngIf = "student && student.pictureFileUrl"
                    [src] = "student.pictureFileUrl"
                    alt = "image"
                >
            </summary>
            <student-modal-banner
                *ngIf = "student"
                [student] = 'student'
                (onClose) = "close()"
            ></student-modal-banner>
        </details>
    </li>
</ul>