
<form 
    #form="ngForm"
>
    <legend>
        Signup
    </legend>
    <fieldset
        [disabled]="isLoading"
    >
        <ul>
            <li>
                <label for="txtEmail">
                    Email:
                </label>
                <input
                    type="email"
                    name="txtEmail"
                    id="txtEmail"
                    [(ngModel)] = 'email'
                >
            </li>
            <li>
                <label for="txtPassword">
                    Password:
                </label>
                <input
                    type="text"
                    name="txtPassword"
                    id="txtPassword"
                    [(ngModel)] = 'password'
                >
            </li>
        </ul>
        <button
            (click) = "signup()"
        >
            Signup
        </button>
    </fieldset>
</form>
