.remove-skill-btn {
  border: none;
  background: none;
  content: "";
  background-image: url(/assets/images/icn-general-add-dark-blue.svg);
  background-position: center;
  background-repeat: no-repeat;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  font: status-bar;
  display: inline-flex;
  margin-left: 0;
  padding: 0;
  transform: rotate(45deg);
}

span {
  margin: 2px;
  border-radius: 8px;
  background-color: rgba(63, 140, 255, 0.1);
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #3f8cff;
  padding: 11px;
  display: inline-flex;
  align-items: center;
}
