<form>
    <loading
        *ngIf="isLoading"
    ></loading>
    <fieldset
        [disabled]="isLoading"
    >
        <legend>
            Invite {{email}} to Join as Your Project Contributor and Flastio!
        </legend>
        <ul>
            <li>
                <label
                    for="txtTitle"
                >
                    Contributor name
                </label>
            <input
                type="text"
                name="txtTitle"
                id="txtTitle"
                [(ngModel)] = "title"
                placeholder="Enter name of contributor"
                maxlength="200"
                minlength="3"
            />
            </li>
      </ul>
        <button
            type="button"
            (click)="close()"
        >
            Cancel
        </button>
        <button
            type="button"
            (click)="invite()"
        >
            Invite
        </button>
    </fieldset>
  </form>