<div class="main-modal">
    <div class="share-profile-content popup">
        <button
            class="close-btn"
            (click) = 'close()'
        >
            Close
        </button>

        <h3>
            Share Profile
        </h3>

        <share-profile-select
            (onShareTypeSelected) = 'changeView($event)'
        ></share-profile-select>

        <share-profile-by-link
            *ngIf = 'currentView == "Share Link"'
            [publicLinkUrl]  ='publicLinkUrl'
        ></share-profile-by-link>
        
        <share-profile-by-qrcode
            *ngIf = 'currentView == "QR Code"'
            [publicLinkUrl]  ='publicLinkUrl'
        ></share-profile-by-qrcode>
    
        <share-profile-by-email
            *ngIf = 'currentView == "Send Email"'
            [student]  ='student'
        ></share-profile-by-email>
    
    </div>
</div>