<div class="main-modal">
    <div class="share-profile-content">
            <button
            class="close-btn"
            (click) = 'close()'
        >
            Close
        </button>
        <h3>
            Share Profile
        </h3>
        <ul class="shere-profile-panel-nav">
            <li>
                <button
                (click) = 'changeView("shareLink")' 
                >
                    Share Link
                </button>
            </li>
            <li>
                <button
                    (click) = 'changeView("qrCode")'
                >
                    QR Code
                </button>
            </li>
            <li>
                <button
                    (click) = 'changeView("sendEmail")' 
                >
                    Send Email
                </button>
            </li>
        </ul>
        <share-profile-by-link
            *ngIf = 'currentView == "shareLink"'
        ></share-profile-by-link>
        
        <share-profile-by-qrcode
            *ngIf = 'currentView == "qrCode"'
        ></share-profile-by-qrcode>
    
        <share-profile-by-email
            *ngIf = 'currentView == "sendEmail"'
        ></share-profile-by-email>
    
    </div>
</div>