section {
  background-color: #f4f9fd;
  padding: 32px;
  border-radius: 0 0 8px 8px;

  ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    input {
      width: 98%;
      padding-right: 10px;
      padding-left: 10px;
    }
    button {
      position: absolute;
      top: 38px;
      right: 18px;
      content: url(/assets/images/copy-text-icon.svg);
      display: flex;
      border: none;
      background: none;
    }
    span {
      width: 10em;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 9;
      transition: opacity .5s;
      top: -20px;
      right: -30px;
      font-size: 14px;
      visibility: hidden;
      opacity: 0;
      &::after {
        content: "";
        position: absolute;
        top: 3.7em;
        left: 5em;
        transform: rotate(270deg);
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent #555 transparent transparent;
      }
    }
    span.isCopyed{
      visibility: visible;
      opacity: 1;
    }
  }

  label {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0a1629;
    display: block;
    margin-left: 12px;
  }
  input {
    border-radius: 14px;
    box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
    border: solid 1px #d8e0f0;
    background-color: #fff;
    padding: 13px 0 14px 0;
    display: block;
    width: 100%;
    margin: 7px 0 27px 0;
    &::placeholder {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #7d8592;
      margin: 0 18px;
    }
  }
}
