<section>
    <ul>
        <li>
            <label
                for="profileLink"
            >
                Profile’s Link
            </label>
            <loading
                *ngIf="!publicLinkUrl"
            ></loading>
            <input
                *ngIf="publicLinkUrl"
                id = 'profileLink'
                name = 'profileLink'
                type="url"
                readonly
                [value]="publicLinkUrl"
            >
        </li>
        <!-- *ngIf="isCopyed" -->
        <span
            
        >
            Your portfolio URL copied.
        </span>
        <button
            (click)="copyToClipboard()"
            title="Click To Copy"
        >
            Copy
        </button>
    </ul>
</section>