<section>
    <ul>
        <li>
            <label
                for="profileLink"
            >
                Profile’s Link
            </label>
            <loading
                *ngIf="!publicLinkUrl"
            ></loading>
            <input
                *ngIf="publicLinkUrl"
                id = 'profileLink'
                name = 'profileLink'
                type="url"
                readonly
                [value]="publicLinkUrl"
            >
        </li>
        <button
            (click)="copyToClipboard()"
        >
            Copy
        </button>
    </ul>
</section>