<section>
  <div>
    <flastio-logo></flastio-logo>
    <h1>Use Flastio and land your dream job</h1>
    <img
      src="/assets/images/clip-busy-day-at-the-office@3x.webp"
      alt="images"
    />
  </div>
  <form
    #form="ngForm"
  >
    <legend>Login</legend>
    <fieldset
      [disabled]="isLoading"
    >
      <ul>
        <li>
          <label for="txtEmail"> Email Address </label>
          <input
            type="email"
            name="txtEmail"
            id="txtEmail"
            placeholder="Enter your .edu email address"
            [(ngModel)]="email"
            maxlength="200"
            minlength="3"
          />
        </li>
        <li>
          <label for="txtPassword"> Password: </label>
          <input
            type="text"
            name="txtPassword"
            id="txtPassword"
            [(ngModel)]="password"
            placeholder="Enter your password"
            maxlength="200"
            minlength="3"
          />
        </li>
      </ul>
      <validation-result
        *ngIf="validationResult"
        [validationResult]="validationResult"
      ></validation-result>
      <button
        (click)="signup()"
      >Sign up</button>
      <p>
        By signing up, I agree to the Flastio <span>Privacy Policy</span> and
        <span>Terms of Service.</span>
      </p>
    </fieldset>
  </form>
</section>
