.resume-header {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a1629;
  display: flex;
  align-items: center;
  &::before {
    content: url(/assets/images/Resume-Transcript.svg);
    margin-right: 9px;
    -webkit-writing-mode: vertical-rl;
  }
}
.work-header {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a1629;
  display: flex;
  align-items: center;
  &::before {
    content: url(/assets/images/work.svg);
    margin-right: 9px;
    -webkit-writing-mode: vertical-rl;
  }
}
section {
  width: 52%;
  margin:30px auto;
}

#secResumeAndTranscript {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  h2 {
    grid-column: span 2;
    margin: 20px 0 0 0;
  }
 
}
