
<section
    id='secStudentInfo'
    *ngIf = "student"
>
<student-banner
    [student] = 'student'
></student-banner>
</section>

<section>
    <skill-panel
    *ngIf = "student"
    [skillList]="student.skillList"
></skill-panel>
</section>
<section
    id='secResumeAndTranscript'
>
    <h2 class="resume-header">
        Resume & Transcript
    </h2>
    <resume-panel></resume-panel>
    <transcript-panel></transcript-panel>
</section>

<section>
    <project-panel
    *ngIf = "student"
    [projectList] = 'student.projectList'
></project-panel>

</section>

<section>
    <certification-panel
    *ngIf = "student"
    [assignedCertificationList] = 'student.assignedCertificationList'
></certification-panel>
</section>


<section>
    <recommendation-panel
    *ngIf = "student"
    [recommendationList] = 'student.recommendationList'
></recommendation-panel>
</section>
<section>
    
<work-style-panel
[workStyleList] = "student.workStyleList"
></work-style-panel>

</section>