section {
  display: flex;
  justify-content: space-between;
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin: 0;
      padding: 0;
      cursor: pointer;
      &:nth-child(3) {
        padding: 13px 22px 13px 21px;
        border-radius: 14px;
        box-shadow: 0 6px 12px 0 rgba(63, 140, 255, 0.26);
        background-color: #3f8cff;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
      }
      &:nth-child(1),
      &:nth-child(2) {
        border-radius: 10px;
        box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
        border: solid 1px #d8e0f0;
        background-color: #fff;
        text-indent: -9000px;
      }
      &:nth-child(2) {
        content: url(/assets/images/eye.svg);
        margin: 0 16px;
        padding: 13px;
      }
      &:nth-child(1) {
        content: url(/assets/images/share.svg);
        padding: 11px;
      }
    }
  }
}
