.resume-header {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a1629;
  display: flex;
  align-items: center;
  &::before {
    content: url(/assets/images/Resume-Transcript.svg);
    margin-right: 9px;
    -webkit-writing-mode: vertical-rl;
  }
}
.work-header {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0a1629;
  display: flex;
  align-items: center;
  &::before {
    content: url(/assets/images/work.svg);
    margin-right: 9px;
    -webkit-writing-mode: vertical-rl;
  }
}
section {
  width: 52%;
  margin: 64px auto;
  &:first-child {
    margin-top: 0;
    width: 61%;
  }
}

#secResumeAndTranscript {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 24px;
  h2 {
    grid-column: span 2;
    margin: 20px 0 0 0;
  }
}

student-header {
  background: url(/assets/images/header-bg.webp) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 352px;
  padding-top: 40px;
}
.student-panel-main-body {
  margin-top: -200px;
}

@media screen and (max-width: 992px) {
  section {
    width: 100%;
    margin: 0;
    padding: 0 16px;
    box-sizing: border-box;
    &:first-child {
      width: 100%;
    }
  }
  .student-panel-main-body {
    margin-top: -250px;
  }
  #secResumeAndTranscript {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  student-header {
    padding-top: 20px;
  }
}
