<loading
    *ngIf = "isLoading"
></loading>
<student-modal-banner
    *ngIf = "student"
    [student] = 'student'
></student-modal-banner>

<section
    id='secStudentInfo'
    *ngIf = "student"
>
<student-banner
    [student] = 'student'
    (onAddProjectClicked) = 'showAddProject()'
></student-banner>
</section>

<section>
    <skill-panel
    *ngIf = "student"
    [skillList]="student.skillList"
></skill-panel>
</section>
<section
    id='secResumeAndTranscript'
>
    <h2 class="resume-header">
        Resume & Transcript
    </h2>
    <resume-panel
        *ngIf = "student"
        [fileUrl] = "student.resumeFileUrl"
    ></resume-panel>
    <transcript-panel
        *ngIf = "student"
        [fileUrl] = "student.transcriptFileUrl"
    ></transcript-panel>
</section>

<section>
    <project-panel
        *ngIf = "student"
        [isAddProjectVisible] = 'isAddProjectVisible'
        [projectList] = 'student.projectList'
    ></project-panel>
</section>

<section>
    <certification-panel
    *ngIf = "student"
    [assignedCertificationList] = 'student.assignedCertificationList'
></certification-panel>
</section>


<section>
    <recommendation-panel
    *ngIf = "student"
    [recommendationList] = 'student.recommendationList'
></recommendation-panel>
</section>

<section>
    <work-style-panel
        *ngIf = "student"
        [workStyleList] = "student.workStyleList"
    ></work-style-panel>
</section>