<loading
    *ngIf = "isLoading"
></loading>

    <section
        id='secStudentInfo'
        *ngIf = "student"
    >
    <student-banner
        [student] = 'student'
        (onAddProjectClicked) = 'showAddProject()'
    ></student-banner>
    </section>

    <section>
        <skillset-panel
            *ngIf = "student && skillSetList"
            [skillSetList]="skillSetList"
            (onAddProjectClicked) = 'showAddProject()'
        ></skillset-panel>
    </section>
    <section
        id='secResumeAndTranscript'
        *ngIf = "student"
    >
        <h2 class="resume-header">
            Resume & Transcript
        </h2>
        <resume-panel
            *ngIf = "student"
            [resume] = "student.resume"
            (onUpdated) = 'onReumeUpdated()'
        ></resume-panel>
        <transcript-panel
            *ngIf = "student"
            [transcript] = "student.transcript"
            (onUpdated) = 'onTranscriptUpdated()'
        ></transcript-panel>
    </section>

    <section>
        <project-panel
            #projectpanel
            *ngIf = "student"
            [major] = 'student.major'
            [(isAddProjectVisible)] = 'isAddProjectVisible'
            [projectList] = 'student.projectList'
            (onUpdated) = 'onProjectListUpdated()'
        ></project-panel>
    </section>

    <section>
        <certification-panel
            *ngIf = "student"
            [assignedCertificationList] = 'student.assignedCertificationList'
            [isActionable] = 'true'
            (onUpdated) = 'onCertificationListUpdated()'
        ></certification-panel>
    </section>


    <section>
        <recommendation-panel
            *ngIf = "student"
            [recommendationList] = 'student.recommendationList'
        ></recommendation-panel>
    </section>

    <!-- <section>
        <work-style-panel
            *ngIf = "student"
            [workStyleList] = "student.workStyleList"
        ></work-style-panel>
    </section> -->
