<div class="main-modal">
<div class="modal-body">
  <button
  class = "close-btn"
  (click) = "close()"
  >
    Close
  </button>
  <legend>
    Add Certification
  </legend>
  <p>
    Make sure to use the exact certification title on your actual certificate. You can upload a picture of your certificate issued by the institution you got certified through.
  </p>
  <add-assinged-certification
    (onAssignedCertificationAdded) = 'saved()'
    (onClose) = 'cancel()'
  ></add-assinged-certification>
</div>

</div>