<form (ngSubmit)="onSubmit()" #form="ngForm">
  <legend>Add Certification</legend>
  <fieldset>
    <ul>
      <li>
        <label for="divCertification"> Certification name </label>
        <div id="divCertification" name="divCertification">
          <search-certification
            (onCertificationSelected)="onCertificationSet($event)"
          ></search-certification>
        </div>
      </li>
      <li>
        <label for="divDateIssued"> Date issued </label>
        <div id="divDateIssued" name="divDateIssued">
          <input
            type="tel"
            name="txtIssuedDateMonth"
            id="txtIssuedDateMonth"
            [(ngModel)]="assignedCertification.issuedDateMonth"
            placeholder="Month"
            list="txtIssuedDateMonthList"
            maxlength="2"
            max="12"
            minlength="1"
            min="1"
          />
          <datalist id="txtIssuedDateMonthList">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
            <option value="6"></option>
            <option value="7"></option>
            <option value="8"></option>
            <option value="9"></option>
            <option value="10"></option>
            <option value="11"></option>
            <option value="12"></option>
          </datalist>

          <input
            type="tel"
            name="txtIssuedDateYear"
            id="txtIssuedDateYear"
            [(ngModel)]="assignedCertification.issuedDateYear"
            placeholder="Year"
            minlength="4"
            min="2011"
            maxlength="4"
            max="2050"
          />
        </div>
      </li>
      <li>
        <label for="divCertificationFileSelector">
          Certification File
        </label>
        <div
          id="divCertificationFileSelector"
          name="divCertificationFileSelector"
        >
          <input
              type="file"
              id='certificationFile'
              name='certificationFile'
              (change)="handleFileInput($event.target.files)"
          >
        </div>
      </li>
    </ul>
    <input type="submit" value="Save" />
  </fieldset>
</form>
