<section>
    <h2>
        Recommendations
    </h2>
    <recommendation-list
        *ngIf = "recommendationList && recommendationList.length > 0"
        [recommendationList] = 'filteredRecommendationList'
        (onApprove) = "approve($event)"
        (onDelete) = "delete($event)"
        (onChangeIndex) = "changeIndex($event)"
    ></recommendation-list>
    
    <button
        *ngIf = "recommendationList && recommendationList.length > 0"
        (click) = "showRequestRecommendationModal()"
    >
        Ask for a recommendation
    </button>

    <empty-recommendation
        *ngIf="!recommendationList || recommendationList.length == 0"
        (onRequestRecommendationClicked) = 'showRequestRecommendationModal()'
    ></empty-recommendation>

    <request-recommendation
        *ngIf = "isRequestRecommendatinModalVisible"
        (onClose) = 'hideRequestRecommendationModal()'
        (onRecommendationAdded) = 'addNewRecommendation($event)'
    ></request-recommendation>
    
</section>