<section>
    <h2>
        Recommendations
    </h2>
    <loading
        *ngIf = 'isLoading'
    ></loading>
    <recommendation-list
        *ngIf = "filteredRecommendationList && filteredRecommendationList.length > 0"
        [recommendationList] = 'filteredRecommendationList'
        (onApprove) = "approve($event)"
        (onDelete) = "delete($event)"
        (onChangeIndex) = "changeIndex($event)"
    ></recommendation-list>
    
    <button
        *ngIf = "filteredRecommendationList && filteredRecommendationList.length > 0"
        (click) = "showRequestRecommendationModal()"
    >
        Ask for a recommendation
    </button>

    <empty-recommendation
        *ngIf="!filteredRecommendationList || filteredRecommendationList.length == 0"
        (onRequestRecommendationClicked) = 'showRequestRecommendationModal()'
    ></empty-recommendation>

    <request-recommendation
        *ngIf = "isRequestRecommendatinModalVisible"
        (onClose) = 'hideRequestRecommendationModal()'
        (onRecommendationAdded) = 'addNewRecommendation($event)'
    ></request-recommendation>

    <confirm-discard
        *ngIf = "confirmDicardIsVisible"
        (onConfirm) = 'confiremdDelete()'
        (onCancel) = 'hideConfirmDiscardModal()'
    ></confirm-discard>
    
</section>