<section>
  <div>
    <student-info
      [student] = "student"
    ></student-info>
    <nav>
      <ul>
        <li>
          <button
          (click) = 'showShareProfileModal()'  
          >
            Share
          </button>
        </li>
        <li>Public View</li>
        <li>
          <button
            (click) = 'addProject()'
          >
            Add Project
          </button>
        </li>
      </ul>
    </nav>
  </div>
  <share-profile-panel
    *ngIf = 'isShareProfileModalVisible'
    [student]  ='student'
    (onClose) = 'hideShareProfileModal()'
  ></share-profile-panel>
  <portfolio-strength
    [student] = "student"
  ></portfolio-strength>
  <analytics-summary></analytics-summary>
</section>
