<section>
  <div>
    <student-info
      *ngIf = "student"
      [student] = "student"
    ></student-info>
    <nav>
      <ul>
        <li>
          <button
            (click) = 'showShareProfileModal()'  
            title = "Share"
            aria-label = "Share"
            type = "button"
          >
            Share
          </button>
        </li>
        <li>
          <button
            (click) = 'openPublicView()' 
            title = "Public View" 
            aria-label = "Public View"
            type = "button"
          >
            Public View
          </button>
        </li>
        <li>
          <button
            type = "button"
            (click) = 'addProject()'
            title = "Add Project" 
            aria-label = "Add Project"
          >
            Add Project
          </button>
        </li>
      </ul>
    </nav>
  </div>
  <share-profile-panel
    *ngIf = 'isShareProfileModalVisible'
    [student]  ='student'
    (onClose) = 'hideShareProfileModal()'
  ></share-profile-panel>
  <portfolio-strength
    *ngIf = "student"
    [student] = "student"
  ></portfolio-strength>
  <analytics-summary
    *ngIf = "student"
    [student] = "student"
  ></analytics-summary>
</section>
