<section>
  <h2>Certifications</h2>
  <certification-list
    *ngIf = "assignedCertificationList && assignedCertificationList.length > 0"
    [assignedCertificationList]="assignedCertificationList"
  ></certification-list>

  <button class="main-add-btn"
    *ngIf = "assignedCertificationList && assignedCertificationList.length > 0"
    (click) = "showAddCertificationModal()"
  >
    Add Certification
  </button>

  <empty-certification
    *ngIf="!assignedCertificationList || assignedCertificationList.length == 0"
    (onAddCertificationClicked) = 'showAddCertificationModal()'
  ></empty-certification>
  
  <assign-certifiction
    *ngIf = "isAddCertificationModalVisible"
    (onClose) = 'hideAddCertificationModal()'
    (onAssignedCertificationAdded) = 'addNewAssignedCertification($event)'
  ></assign-certifiction>
  
</section>
