<section>
  <h2>Certifications</h2>
  <certification-list
    *ngIf = "assignedCertificationList && assignedCertificationList.length > 0"
    [assignedCertificationList]="assignedCertificationList"
    [isActionable] = 'isActionable'
    (onEdit) = "edit($event)"
    (onDelete) = "delete($event)"
    (onChangeIndex) = "changeIndex($event)"
  ></certification-list>

  <button class="main-add-btn"
    *ngIf = "assignedCertificationList && assignedCertificationList.length > 0"
    (click) = "showAddCertificationModal()"
  >
    Add Certification
  </button>

  <empty-certification
    *ngIf="!assignedCertificationList || assignedCertificationList.length == 0"
    (onAddCertificationClicked) = 'showAddCertificationModal()'
  ></empty-certification>
  
  <assign-certifiction
    *ngIf = "isAddCertificationModalVisible"
    (onClose) = 'hideAddCertificationModal()'
    (onAssignedCertificationAdded) = 'addNewAssignedCertification($event)'
  ></assign-certifiction>

  <edit-certification
    *ngIf = "isEditCertificationModalVisible"
    [assignedCertification] = 'markAsEditAssignedCertification'
    (onClose) = 'hideEditCertificationModal()'
    (onAssignedCertificationEdited) = 'editedAssignedCertification($event)'
  ></edit-certification>

  <confirm-delete
    *ngIf = "isConfirmRemoveModalVisible && markAsDeleteSssignedCertification"
    (onCancel)="hideConfrimDeleteModal()"
    (onConfirm)="confirmedDelete($event)"
  ></confirm-delete>
  
</section>
