<dl>
    <dt>
        Picture
    </dt>
    <img 
      *ngIf="!contributor.student.pictureFileUrl"
      src="/assets/images/profile-icon.svg"
      alt="image"
    >
    <img 
      *ngIf="contributor.student.pictureFileUrl"
      [src]="contributor.student.pictureFileUrl"
      alt="image"
    >

    <dt>
        Name
    </dt>
    <dd
        *ngIf="contributor.student.firstName && contributor.student.lastName"
    >
        {{contributor.student.firstName}} {{contributor.student.lastName}}
    </dd>

    <dd
        *ngIf="!contributor.student.firstName && !contributor.student.lastName && contributor.student.title"
    >
        {{contributor.student.title}}
    </dd>

    <dt>
        Role
    </dt>
    <dd>
        {{contributor.role}}
    </dd>
</dl>
<button class="contributor-list-item-button"
    *ngIf = "isRemovable"
    (click)="remove()"
>
    Remove
</button>