<div class="project-strength-section">
    <h4>
        Complete your project
    </h4>
    <dl>
        <dt>
            Require Action List
        </dt>
    
        <dd>
            <details>
                <div
                    class="main-details"
                    (click)="close()"
                ></div>
                <summary>
                    Details
                </summary>
                <ul>
                     <li
                        *ngFor="let item of getItemListStatus()"
                    >
                        <a
                            [ngClass]="{'iscompleted': item.isCompeleted}"
                        >
                            {{item.title}}
                        </a>
                        
                    </li>
                </ul>
            </details>
        </dd>
    
        <dt>
            Progress
        </dt>
        <dd>
            <progress
                id="strengthValue"
                [max] = "strengthMaxValue"
                [value] = "calculate()"
            ></progress>
        </dd>
    
        <dt>
            Value
        </dt>
        <dd>
            {{calculate()}} %
        </dd>
    </dl>
    
    
</div>