<form>
  <legend>Project</legend>
  <details>
    <summary>
      How to add a project?
    </summary>
    <p>
      We suggest using a PowerPoint or PDF format for the "Project Summary" file. Use a descriptive name. We highly recommend filling out the description section even though it is optional. Selecting the right project topics is crucial since Flastio uses this information to best match you with the right hiring managers and show you the most useful analytics.
    </p>
  </details>
  <fieldset>
    <ul>
      <li>
        <project-file-uploader
          [(summaryFile)] = 'projectBaseInfo.summaryFile'
          (onFileUploaded) = 'setSummaryFile($event)'
        ></project-file-uploader>
      </li>
      <li
        *ngIf="fileUrl"
      >
        Project Summary File Uploaded
      </li>
      <li>
        <!-- <label for="slctProjectType"> Project Type </label> -->
        <select-type-project
          id="slctProjectType"
          [(selectedProjectType)] = 'projectBaseInfo.projectType'
          (onProjectTypeSelected)="setProjectType($event)"
        ></select-type-project>
      </li>
      <li>
        <label for="txtProjectName"> Project’s name </label>
        <input
          type="text"
          name="txtProjectName"
          id="txtProjectName"
          [(ngModel)]="projectBaseInfo.name"
          placeholder="Enter name of project"
        />
      </li>
      <li
        *ngIf="projectBaseInfo.projectType == 'Course Project'"
      >
        <label
          for="txtCourseKeyWord">
          Course title
        </label>

        <div id="divSelectCourse">
          <search-course
            [major] = "major"
            [selectedCourse] = "projectBaseInfo.course"
            (onCourseSelected) = "setCoursse($event)"
          ></search-course>
        </div>
      </li>

      <li
        *ngIf="projectBaseInfo.projectType=='Internship'"
      >
      <label for="txtCompanyKeyWord"> Company’s name</label>

        <div id="divSelectCompany">
          <company-search
            [selectedCompany] = "projectBaseInfo.company"
            (onCompanySelected) = "setCompany($event)"
          ></company-search>
        </div>
      </li>

      

      <li>
        <label for="txtDescription"> Description </label>
        <textarea
          name="txtDescription"
          id="txtDescription"
          rows="5"
          [(ngModel)]="projectBaseInfo.description"
          placeholder="Brief description is recommended for projects"
        ></textarea>
      </li>
      <li>
        <label for="divSkill"> Add Project topics </label>
        <div id="divSkill">
          <search-skill (onSkillSelected)="addSkill($event)"></search-skill>
        </div>
      </li>
      <li>
        <!-- <label for="divAssignedSkill"> Project Assigned Skill List </label> -->
        <div id="divAssignedSkill">
          <ul
            *ngIf="projectBaseInfo && projectBaseInfo.skillList && projectBaseInfo.skillList.length > 0"
          >
            <li *ngFor="let skill of projectBaseInfo.skillList">
              <skill-list-item
                [skill] = 'skill'
                (onSkillDeleted) = 'removeSkillFromProject(skill)'
                class="remove-skill-list"
              ></skill-list-item>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <label for="slctYearCompleted" class="Year-Completed-label">
          Year completed
        </label>
        <year-select
          id="slctYearCompleted"
          [(selectedYear)] = 'projectBaseInfo.yearCompleted'
          (onYearSelected) = 'setYearCompleted($event)'
        ></year-select>
      </li>
      <li>
        <project-strength
          [projectBaseInfo] = 'projectBaseInfo'
        ></project-strength>
      </li>
    </ul>
  </fieldset>
  </form>