<div class="main-modal">
  
    <form class="popup"
      *ngIf = "pageTitle == 'General'"
    >
      <loading
        *ngIf="isLoading"
      ></loading>
      <button class="close-btn"
        type="button"
        (click) = 'close()'
      >
        Close
      </button>
  
  
      <project-base-info
        *ngIf = "pageTitle == 'General'"
        [major] = 'major'
        [projectBaseInfo]  = 'project.baseInfo'
        (onSetBaseInfo) = 'setBaseInfo($event)'
      ></project-base-info>
  

      <validation-result
        [validationResult] = 'validationResult'
      ></validation-result>
  
      <button
        type="button"
        class="cancel-btn" (click)="publish()">Publish</button>
      <button
        type="button"
        class="submit-btn" (click)="draft()">Save draft</button>
  
      <add-paging-project
        [hadAttachment] = 'project.supportingFileList.length > 0'
        [hadLinks] = 'project.linkUrlList.length > 0' 
        [hadCertification] = 'project.assignedCertification'
        [hadTeam] = 'project.contributorList.length > 0' 
        (onPageTitleSelected)="changePage($event)"
      ></add-paging-project>
    </form>
    
    <assign-link-project
      *ngIf="pageTitle == 'Links'"
      [linkUrlList]="project.linkUrlList"
      (onLinkUrlListUpdated) = "updateLinkUrlList($event)"
      (onClose) = 'goToGeneralView($event)'
    ></assign-link-project>
    <assign-supporting-file-project
      *ngIf="pageTitle == 'Attachment'"
      [supportingFileList] = "project.supportingFileList"
      (onSupportingFileListUpdated) = "updateSupportingFileList($event)"
      (onClose) = 'goToGeneralView($event)'
    ></assign-supporting-file-project>

    <assign-certifiction
      *ngIf="pageTitle == 'Certification' && !project.assignedCertification"
      (onAssignedCertificationAdded) = 'updateCertification($event)'
      (onClose) = 'goToGeneralView($event)'
    ></assign-certifiction>
    <div
      *ngIf="pageTitle == 'Certification' && project.assignedCertification"
    >
      <certification-list-item
        [assignedCertification] = 'project.assignedCertification'
      ></certification-list-item>
    </div>
    
    <assign-contributor
      *ngIf = "pageTitle == 'Team'"
      [studentRole] = 'project.role'
      [contributorList] = "project.contributorList"
      (onStudentRoleUpdated) = 'updateStudentRole($event)'
      (onContributorListUpdated) = "updateContributorList($event)"
      (onClose) = 'goToGeneralView($event)'
    ></assign-contributor>
  
  </div>