ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

}


li {
  margin: 0 4px;
  border-radius: 8px;
  background-color: rgba(0, 184, 92, 0.1);
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #00b85c;
  padding: 12px 11.5px 12px 12.5px;
}

