<dl>
    <dt>
        Portfolio Strength:
    </dt>
    <dd>
        {{strengthTitle}}
    </dd>

    <dt>
        Portfolio Strength Value:
    </dt>

    <dd>
        <details>
            <div class="main-details"></div>
            <summary>
                Details
            </summary>
            <ul>
                <li
                    *ngFor="let item of itemList"
                >
                    <a
                        [href]="item.url"
                        [ngClass]= "{ 'iscompleted' : item.isCompeleted }"
                    >
                        {{item.title}}
                    </a>
                    
                </li>

                
                <!-- <li>
                    
                    <a
                        href="/student/editDetail"
                    >
                        Personal Information
                    </a> -->
                    <!-- <a href="#" class="iscompleted">
                        Personal Information
                    </a> -->
                    
                <!-- </li>
                <li>
                    <a href="#">
                        Project
                    </a>
                    
                </li>
                <li>
                    <a href="#">
                        Resume
                    </a>
                    
                </li>
                <li>
                    <a href="#">
                        Transcript
                    </a>
                    
                </li>
                <li>
                    <a href="#">
                        Certifications
                    </a>
                    
                </li>
                <li>
                    <a href="#">
                        Recommendations
                    </a>
                    
                </li>
                <li>
                    <a href="#">
                        Work Style
                    </a>
                    
                </li> -->
            </ul>
        </details>
    </dd>
</dl>
<div>
    <progress
            id="strengthValue"
            [max] = "strengthMaxValue"
            [value] = "calculate()"
        ></progress>
    
</div>
