<dl>
    <dt>
        Portfolio Strength:
    </dt>
    <dd>
        {{strengthTitle}}
    </dd>

    <dt>
        Portfolio Strength Value:
    </dt>
    <dd>
        <progress
            id="strengthValue"
            [max] = "strengthMaxValue"
            [value] = "strengthValue"
        ></progress>
    </dd>
</dl>
<details>
    <summary>
        Details
    </summary>
    <ul>
        <li>
            <a href="#">
                Personal Information
            </a>
            
        </li>
        <li>
            <a href="#">
                Project
            </a>
            
        </li>
        <li>
            <a href="#">
                Resume
            </a>
            
        </li>
        <li>
            <a href="#">
                Transcript
            </a>
            
        </li>
        <li>
            <a href="#">
                Certifications
            </a>
            
        </li>
        <li>
            <a href="#">
                Recommendations
            </a>
            
        </li>
        <li>
            <a href="#">
                Work Style
            </a>
            
        </li>
    </ul>
</details>