<dl>
    <dt>
        Portfolio Strength:
    </dt>
    <dd>
        {{strengthTitle}}
    </dd>

    <dt>
        Portfolio Strength Value:
    </dt>
    <dd>
        <progress
            id="strengthValue"
            [max] = "strengthMaxValue"
            [value] = "strengthValue"
        ></progress>
    </dd>
</dl>
<details>
    <summary>
        Details
    </summary>
    <ul>
        <li>
            Personal Information
        </li>
        <li>
            Project
        </li>
        <li>
            Resume
        </li>
        <li>
            Transcript
        </li>
        <li>
            Certifications
        </li>
        <li>
            Recommendations
        </li>
        <li>
            Work Style
        </li>
    </ul>
</details>