button{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    padding: 14px 31px;
    border-radius: 14px;
    box-shadow: 0 6px 12px 0 rgb(63 140 255 / 26%);
    background-color: #3f8cff;
    border: none;
    text-transform: capitalize;
}