<dl>
  <dt>Name</dt>
  <dd class="recommendation-name">
    {{ recommendation.recommenderName }}
  </dd>

  <dt>
    Status
  </dt>
  <dd
    class="approval"
    *ngIf  = 'recommendation.status == "pendingConfirmation"'
  >
    Pending Your Approval
  </dd>

  <dd
    class="approval"
    *ngIf  = 'recommendation.status == "new"'
  >
    Waiting for an answer
  </dd>

  <dt>Position</dt>
  <dd class="position">
    {{ recommendation.recommenderPosition }}
  </dd>

  <dt>Script</dt>
  <dd>
    <div
      *ngIf  = 'recommendation.status != "new"'
      class="description"
      [innerHtml] = 'sanetizedHtmlRecommendationMessage'
    ></div>

    <div
      *ngIf  = 'recommendation.status == "new"'
      class="description"
      [innerHtml] = 'recommendation.message'
    ></div>

    <div
      id="penddingActionPanel"
    >
    </div>
  </dd>
</dl>
<div class="recommendation-action-section">
  <recommendation-action-panel
    *ngIf  = 'recommendation.status == "approved"'
    (onDelete) = "delete()"
    (onChangeIndex) = "changeIndex($event)"
  ></recommendation-action-panel>
  <recommendation-approval-action-panel
    *ngIf  = 'recommendation.status == "pendingConfirmation"'
    (onApprove) = "approve()"
    (onReject) = "delete()"
  ></recommendation-approval-action-panel>
</div>

