<dl>
  <dt>Name</dt>
  <dd>
    {{ recommendation.recommenderName }}
  </dd>

  <dt>
    Status
  </dt>
  <dd>
    <!-- {{ recommendation.status }} pendingConfirmation -->
    Pending Your Approval
  </dd>

  <dt>Position</dt>
  <dd>
    {{ recommendation.recommenderPosition }}
  </dd>

  <dt>Script</dt>
  <dd>
    <div
      [innerHtml] = 'recommendation.htmlRecommendationMessage'
    ></div>

    <div
      id="penddingActionPanel"
    >

    </div>
  </dd>
</dl>
<div>
  <recommendation-action-panel
    (onDelete) = "delete()"
    (onChangeIndex) = "changeIndex($event)"
  ></recommendation-action-panel>
  <recommendation-approval-action-panel
    (onApprove) = "approve()"
    (onReject) = "reject()"
  ></recommendation-approval-action-panel>
</div>

