/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: NunitoSans;
  src: url("assets/fonts/NunitoSans-Regular.ttf");
}
body {
  font-family: NunitoSans;
  margin: 0;
}

@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: bold;
  src: url("assets/fonts/NunitoSans-ExtraBold.ttf");
}
@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: IRANSans-web;
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/NunitoSans-Light.ttf");
}
@font-face {
  font-family: IRANSans-web;
  font-style: normal;
  font-weight: 200;
  src: url("assets/fonts/NunitoSans-ExtraLight.ttf");
}

html,
body {
  font-family: IRANSans-web, serif;
}

button{
  cursor: pointer;
}
form{
  fieldset{
    border: none;
  }
}
.main-add-btn{
  font-size: 14px;
  font-weight: bold;
  padding: 8px 10px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #91929e;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgb(184 200 224 / 22%);
  border: solid 1px #d8e0f0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &::before {
    content: url(/assets/images/icn-general-add-blue.svg);
    margin-right: 12px;
    -webkit-writing-mode: vertical-rl;
  }
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    border: solid 1px #91929e;
    transition: 0.5s;
  }
}