dl {
  margin: 20px 0 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  dt {
    margin: 0;
    padding: 0;
    grid-area: 2;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #0a1629;
  }
  dd {
    margin: 0;
    padding: 0;
    grid-area: 1;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #0a1629;
  }
}
@media screen and (max-width: 992px) {
  dl {
    dt {
      font-size: 14px;
    }
  }
}
