<details>
  <div
    class="main-details"
    (click)="close()"
  ></div>
  <summary>actions</summary>
  <ul>
    <li
    
    >
      <button
        type="button"
        (click) = "edit()"
      >
        Edit
      </button>
    </li>
    <li>
      <button
        type="button"
        (click) = "delete()"
      >Delete</button>
    </li>
    <li>
      <button
        type="button"
        (click) = "moveDown()"
      >Move Down</button>
    </li>
    <li>
      <button
        type="button"
        (click) = "moveUp()"
      >Move Up</button>
    </li>
  </ul>
</details>
