<div class="main-modal">
    <form class="popup"
    #form="ngForm"
>
<button class="close-btn"
    (click)="close()"
>
    close
</button>
    <legend>
        Ask for a recommendation
    </legend>
    <p>It is always the best practice to contact the person you are asking for a recommendation for ahead of time and make sure they are willing and able to provide you with a recommendation.</p>
    <fieldset>
        <ul>
            <li>
                <label for="txtRecommenderName">
                    Who do you want to ask?
                </label>
                <input
                    type="text"
                    name="txtRecommenderName"
                    id="txtRecommenderName"
                    [(ngModel)] = 'recommendation.recommenderName'
                    placeholder = "Type name"
                >
            </li>
            <li>
                <label for="txtRecommenderPosition">
                    What is his/her position?
                </label>
                <input
                    type="text"
                    name="txtRecommenderPosition"
                    id="txtRecommenderPosition"
                    [(ngModel)] = 'recommendation.recommenderPosition'
                    placeholder = "e.g., Professor of Mechanical Engineering @Cal Poly University"
                >
            </li>
            <li>
                <label for="txtRecommenderEmail">
                    Email
                </label>
                <input
                    type="email"
                    name="txtRecommenderEmail"
                    id="txtRecommenderEmail"
                    [(ngModel)] = 'recommendation.recommenderEmail'
                    placeholder = "Enter his/her email"
                >
            </li>
            <li>
                <label for="txtMessage">
                    Include a personalized message
                </label>
                <textarea
                    name="txtMessage"
                    id="txtMessage"
                    rows = "5"
                    [(ngModel)] = 'recommendation.message'
                    placeholder = "Hi, would you write me a recommendation please?"
                ></textarea>
                
            </li>
        </ul>
        <validation-result
          [validationResult] = 'validationResult'
        ></validation-result>
        <button class="submit-btn"
        (click)="send()"
    >
        Send
    </button>

        <button class="cancel-btn"
            (click)="close()"
        >
            Cancel
        </button>
     
    </fieldset>
</form>

</div>