<form
  #form="ngForm"
>
  <button>Close</button>
  <legend>Personal information</legend>
  <fieldset
    [disabled]="isLoading"
  >
    <ul>
      <li>
        <label for="pictureFile" class="file-label"> Add Profile Picture </label>
        <input
              type="file"
              id='pictureFile'
              name='pictureFile'
              (change)="handleFileInput($event.target.files)"
          >
      </li>
      <li>
        <label for="txtCountryRegion"> Location </label>
        <country-region-select
          id="txtCountryRegion"
          [selectedCountryRegion]="student.countryRegion"
          (onCountryRegionSelected)="setCountryRegion($event)"
        ></country-region-select>
      </li>
      <li>
        <label for="txtPostalCode"> Postal code </label>
        <input
          type="tel"
          name="txtPostalCode"
          id="txtPostalCode"
          [(ngModel)]="student.postalCode"
          placeholder="Enter your postal code"
        />
      </li>
      <li>
        <label for="slcGender"> Gender </label>
        <gender-select
          id="slcGender"
          [selectedGender]="student.gender"
          (onGenderSelected)="setGender($event)"
        ></gender-select>
      </li>

      <li>
        <label for="slcEthnicity"> Ethnicity </label>
        <ethnicity-select
          id="slcEthnicity"
          [selectedEthnicity]="student.ethnicity"
          (onEthnicitySelected)="setEthnicity($event)"
        ></ethnicity-select>
      </li>

      <li>
        <label for="chkShareGender"> Share my gender with employers </label>
        <input
          type="checkbox"
          name="chkShareGender"
          id="chkShareGender"
          [(ngModel)]="student.isGenderSharable"
          checked
        />
      </li>

      <li>
        <label for="chkShareEthnicity">
          Share my ethnicity with employers
        </label>
        <input
          type="checkbox"
          name="chkShareEthnicity"
          id="chkShareEthnicity"
          [(ngModel)]="student.isEthnicitySharable"
          checked
        />
      </li>
      <li>
        <label for="slcCollegeStatus">
          Which Year of College Are You in?
        </label>
        <college-status-select
          id="slcCollegeStatus"
          [selectedCollegeStatus]="student.collegeStatus"
          (onCollegeStatusSelected)="setCollegeStatus($event)"
        ></college-status-select>
      </li>

      <li>
        <label
          for="divGraduationDate"
        >
          Graduation date
        </label>
        <div
          id = 'divGraduationDate'
          name = 'divGraduationDate'
        >
          <month-select
            [selectedMonth] = 'student.graduationMonth'
            (onMonthSelected) = 'selectedGraduationMonth($event)'
          ></month-select>

          <year-select2
            [selectedYear] = 'student.graduationYear'
            (onYearSelected) = 'selectedGraduationYear($event)'
          ></year-select2>
        </div>
        
      </li>

      
    </ul>
    
    <button
      (click)="save()"
    >
      Let's Start
    </button>
    <button
      (click)="skip()"
    >
      I will complete later
    </button>
  </fieldset>
</form>
