form {
  fieldset {
    border: none;
  }
  button {
    &:nth-of-type(1) {
      background-color: #f4f9fd;
      border-radius: 50%;
      padding: 10px;
      border: none;
      content: url(/assets/images/icn-general-add-blue.svg);
      display: flex;
      transform: rotate(45deg);
      float: right;
    }
  }
  legend {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0a1629;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      position: relative;
      margin-bottom: 24px;

      &:nth-child(1) {
        display: flex;
        align-items: center;
        &::before {
          content: url(/assets/images/profile-icon.svg);
        }
      }
      &:nth-child(6) {
        border-radius: 8px;
        background-color: #f4f9fd;
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
        padding: 8px 20px 8px 16px;

      }
      &:nth-child(7) {
        border-radius: 8px;
        background-color: #f4f9fd;
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
        padding: 8px 20px 8px 16px;

      }
    }
    label {
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #0a1629;
      display: block;
      margin-left: 12px;
    }
    .file-label {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #3f8cff;
      display: flex;
      align-items: center;
      &::before {
        content: url(/assets/images/icn-general-add-dark-blue.svg);
        margin-right: 4px;
      }
    }
    input {
      border-radius: 14px;
      box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
      border: solid 1px #d8e0f0;
      background-color: #fff;
      padding: 13px 18px 14px 18px;
      display: block;
      width: 100%;
      margin: 7px 0 27px 0;
      &::placeholder {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #0a1629;
      }
    }
    input[type="checkbox"] {
      border: none;
      box-shadow: none;
      margin: 0;
    }
    input[type="file"] {
      border: none;
      position: absolute;
      width: 35%;
      opacity: 0;
      cursor: pointer;
    }
  }
  input[type="submit"] {
    padding: 13px 16px;
    border-radius: 14px;
    box-shadow: 0 6px 12px 0 rgba(63, 140, 255, 0.26);
    background-color: #3f8cff;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    border: none;
  }
}
