
<form
    (ngSubmit)="onSubmit()"
    #form="ngForm"
>
    <button>
        Close
    </button>
    <legend>
        Tell about yourself
    </legend>
    <fieldset>
        <ul>
            <li>
                <label for="flProfilePicture">
                    Profile Picture
                </label>
                <input
                    type="file"
                    name="flProfilePicture"
                    id="flProfilePicture"
                    (change)="onProfileImageChanged(profilePicture.file)"
                >
            </li>
            <li>
                <label for="txtCountryRegion">
                    Country/Region
                </label>
                <country-region-select
                    id="txtCountryRegion"
                    [selectedCountryRegion] = "student.countryRegion"
                    (onCountryRegionSelected)="setCountryRegion($event)"
                ></country-region-select>
             </li>
            <li>
                
                <label for="txtPostalCode">
                    Postal code
                </label>
                <input
                    type="tel"
                    name="txtPostalCode"
                    id="txtPostalCode"
                    [(ngModel)] = 'student.postalCode'
                >
            </li>
            <li>
                <label for="slcGender">
                    Gender
                </label>
                <gender-select
                    id = 'slcGender'
                    [selectedGender]="student.gender"
                    (onGenderSelected)="setGender($event)"
                ></gender-select>
            </li>

            <li>
                <label for="slcEthnicity">
                    Ethnicity
                </label>
                <ethnicity-select
                    id= 'slcEthnicity'
                    [selectedEthnicity]="student.ethnicity"
                    (onEthnicitySelected)="setEthnicity($event)"
                ></ethnicity-select>
            </li>

            <li>
                
                <label for="chkShareGender">
                    Share my gender with employers
                </label>
                <input
                    type="checkbox"
                    name="chkShareGender"
                    id="chkShareGender"
                    [(ngModel)] = 'student.isGenderSharable'
                >
            </li>

            <li>
                
                <label for="chkShareEthnicity">
                    Share my ethnicity with employers
                </label>
                <input
                    type="checkbox"
                    name="chkShareEthnicity"
                    id="chkShareEthnicity"
                    [(ngModel)] = 'student.isEthnicitySharable'
                >
            </li>
            <li>
                
                <label for="slcCollegeStatus">
                    Which Year of College Are You in?
                </label>
                <college-status-select
                    id = 'slcCollegeStatus'
                    [selectedCollegeStatus]="student.collegeStatus"
                    (onCollegeStatusSelected)="setCollegeStatus($event)"
                ></college-status-select>
            </li>
            
        </ul>
        <input type="submit" value="Continue">
    </fieldset>
</form>
