<ul
    *ngIf="projectList && projectList.length > 0"
>
    <li
        *ngFor = 'let project of projectList'
    >
        <project-list-item
            [project] = 'project'
            (onEdit) = "edit($event)"
            (onDelete) = "delete($event)"
            (onChangeIndex) = "changeIndex($event)"
            (onViewSummaryFile) = 'viewSummaryFile($event)'
        ></project-list-item>
    </li>
</ul>

<file-viwer
    *ngIf="isViewFileVisible && currentViewingSummaryFile"
    (onClose) = 'hideShowFileModal()'
    [fileUrl]="currentViewingSummaryFile.fileUrl"
    [fileExtention]="currentViewingSummaryFile.fileExtention"
></file-viwer>